<div class="ProductItem {% if use_horizontal %}ProductItem--horizontal{% endif %}">
    <div class="ProductItem__Wrapper">
        {%- comment -%}
    We are using LazySizes to efficiently choose the most appropriate image in the set. However, because internally LazySizes uses srcset, we need to make
    sure that the image sizes we offer is not larger than the max size uploaded by the merchants.
    {%- endcomment -%}

        {%- if settings.product_image_size == 'natural' or use_horizontal -%}
            {%- assign use_natural_size = true -%}
        {%- else -%}
            {%- assign use_natural_size = false -%}
        {%- endif -%}

        {%- if settings.product_show_secondary_image and product.images[1] != blank and use_horizontal != true -%}
            {%- assign has_alternate_image = true -%}
        {%- else -%}
            {%- assign has_alternate_image = false -%}
        {%- endif -%}

        {% if section.settings.choose_image == "1" %}
            <a href="{{ bundle_url }}" class="ProductItem__ImageWrapper {% if has_alternate_image %}ProductItem__ImageWrapper--withAlternateImage{% endif %}">
                {%- if use_horizontal -%}
                    {%- assign max_width = 125 -%}
                {%- else -%}
                    {%- assign max_width = product.featured_image.width -%}
                {%- endif -%}

                <div class="AspectRatio AspectRatio--{% if use_natural_size %}withFallback{% else %}{{ settings.product_image_size }}{% endif %}" style="max-width: {{ max_width }}px; {% if use_natural_size %}padding-bottom: {{ 100.0 | divided_by: product.featured_image.aspect_ratio }}%;{% endif %} --aspect-ratio: {{ product.featured_image.aspect_ratio }}">
                    {%- comment -%}
        IMPLEMENTATION NOTE: The alternate image (not visible by default) should be the first in the DOM, as the spinner (Image__Loader element) is
        displayed based on the immediately previously shown image.
        {%- endcomment -%}

                    {%- if has_alternate_image -%}
                        {%- include 'image-size', sizes: '200,300,400,600,800,900,1000,1200', image: product.images[1] -%}
                        {%- assign image_url = product.images[1] | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

                        <img class="ProductItem__Image ProductItem__Image--alternate Image--lazyLoad Image--fadeIn" data-src="{{ image_url }}" data-widths="[{{ supported_sizes }}]" data-sizes="auto" alt="{{ product.images[1].alt | escape }}" data-image-id="{{ product.images[1].id }}">
                        {%- endif -%}

                        {%- include 'image-size', sizes: '200,400,600,700,800,900,1000,1200', image: product.featured_image -%}
                        {%- assign image_url = product.featured_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

                        <img class="ProductItem__Image Image--lazyLoad Image--fadeIn" data-src="{{ image_url }}" data-widths="[{{ supported_sizes }}]" data-sizes="auto" alt="{{ product.featured_image.alt | escape }}" data-image-id="{{ product.featured_image.id }}">
                            <span class="Image__Loader"></span>

                            <noscript>
                                <img class="ProductItem__Image ProductItem__Image--alternate" src="{{ product.images[1] | img_url: '600x' }}" alt="{{ product.images[1].alt | escape }}">
                                    <img class="ProductItem__Image" src="{{ product.featured_image | img_url: '600x' }}" alt="{{ product.featured_image.alt | escape }}"></noscript>
                                </div>
                            </a>
                        {% else %}
                            <a href="{{ bundle_url }}" class="ProductItem__ImageWrapper {% if has_alternate_image %}ProductItem__ImageWrapper--withAlternateImage{% endif %}">
                                {%- if use_horizontal -%}
                                    {%- assign max_width = 125 -%}
                                {%- else -%}
                                    {%- assign max_width = product.images[2].width -%}
                                {%- endif -%}

                                <div class="AspectRatio AspectRatio--{% if use_natural_size %}withFallback{% else %}{{ settings.product_image_size }}{% endif %}" style="max-width: {{ max_width }}px; {% if use_natural_size %}padding-bottom: {{ 100.0 | divided_by: product.images[2].aspect_ratio }}%;{% endif %} --aspect-ratio: {{ product.images[2].aspect_ratio }}">
                                    {%- comment -%}
        IMPLEMENTATION NOTE: The alternate image (not visible by default) should be the first in the DOM, as the spinner (Image__Loader element) is
        displayed based on the immediately previously shown image.
        {%- endcomment -%}

                                    {%- if has_alternate_image -%}
                                        {%- include 'image-size', sizes: '200,300,400,600,800,900,1000,1200', image: product.images[1] -%}
                                        {%- assign image_url = product.images[1] | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

                                        <img class="ProductItem__Image ProductItem__Image--alternate Image--lazyLoad Image--fadeIn" data-src="{{ image_url }}" data-widths="[{{ supported_sizes }}]" data-sizes="auto" alt="{{ product.images[1].alt | escape }}" data-image-id="{{ product.images[1].id }}">
                                        {%- endif -%}

                                        {%- include 'image-size', sizes: '200,400,600,700,800,900,1000,1200', image: product.images[2] -%}
                                        {%- assign image_url = product.images[2] | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

                                        <img class="ProductItem__Image Image--lazyLoad Image--fadeIn" data-src="{{ image_url }}" data-widths="[{{ supported_sizes }}]" data-sizes="auto" alt="{{ product.images[2].alt | escape }}" data-image-id="{{ product.images[2].id }}">
                                            <span class="Image__Loader"></span>

                                            <noscript>
                                                <img class="ProductItem__Image ProductItem__Image--alternate" src="{{ product.images[1] | img_url: '600x' }}" alt="{{ product.images[1].alt | escape }}">
                                                    <img class="ProductItem__Image" src="{{ product.images[2] | img_url: '600x' }}" alt="{{ product.images[2].alt | escape }}"></noscript>
                                                </div>
                                            </a>
                                        {% endif %}


                                        {%- if show_labels -%}
                                            {%- capture product_labels -%}
                                                {%- for tag in product.tags -%}
                                                    {%- if tag contains '__label' -%}
                                                        <span class="ProductItem__Label Heading Text--subdued">{{ tag | split: '__label:' | last }}</span>
                                                        {%- break -%}
                                                    {%- endif -%}
                                                {%- endfor -%}

                                                {%- if product.available -%}
                                                    {%- if product.compare_at_price > product.price -%}
                                                        <span class="ProductItem__Label Heading Text--subdued">{{ 'product.labels.on_sale' | t }}</span>
                                                    {%- endif -%}
                                                {%- else -%}
                                                    <span class="ProductItem__Label Heading Text--subdued">{{ 'product.labels.sold_out' | t }}</span>
                                                {%- endif -%}
                                            {%- endcapture -%}

                                            {%- if product_labels != blank -%}
                                                <div class="ProductItem__LabelList">
                                                    {{ product_labels }}
                                                </div>
                                            {%- endif -%}
                                        {%- endif -%}

                                        {%- if show_product_info -%}
                                            <div class="ProductItem__Info {% unless use_horizontal %}ProductItem__Info--{{ settings.product_info_alignment }}{% endunless %}">
                                                {%- if show_vendor -%}
                                                    <p class="ProductItem__Vendor Heading">{{ product.vendor }}</p>
                                                {%- endif -%}
                                              
                                              <div class="bundle-product-info">
                                                {% include "split" %}
                                                <h2 class="ProductItem__Title Heading">
                                                    <a href="{{ bundle_url }}">{{ product.title }}</a>
                                                </h2>
                                                {{ desc[0] }}                                                
                                              </div>
                                            </div>
                                        {%- endif -%}
                                    </div>

                                    {%- if use_horizontal -%}
                                        <a href="{{ associated_product.url }}" class="ProductItem__ViewButton Button Button--secondary hidden-pocket">{{ 'collection.product.view_product' | t }}</a>
                                    {%- endif -%}
                                </div>