<div class="ProductItem {% if use_horizontal %}ProductItem--horizontal{% endif %}">
    <div class="ProductItem__Wrapper" data-handle="{{product.handle}}" data-action="open-modal" aria-controls="product-info-dialog">
        {%- comment -%}
        We are using LazySizes to efficiently choose the most appropriate image in the set. However, because internally
        LazySizes uses srcset, we need to make
        sure that the image sizes we offer is not larger than the max size uploaded by the merchants.
        {%- endcomment -%}

        {%- if settings.product_image_size == 'natural' or use_horizontal -%}
        {%- assign use_natural_size = true -%}
        {%- else -%}
        {%- assign use_natural_size = false -%}
        {%- endif -%}
        {%- assign selected_variant = product.selected_or_first_available_variant -%}
        {%- if settings.product_show_secondary_image and product.images[1] != blank and use_horizontal != true -%}
        {%- assign has_alternate_image = true -%}
        {%- else -%}
        {%- assign has_alternate_image = false -%}
        {%- endif -%}

        <a 
            class="ProductItem__ImageWrapper {% if has_alternate_image %}ProductItem__ImageWrapper--withAlternateImage{% endif %}">
            {%- if use_horizontal -%}
            {%- assign max_width = 125 -%}
            {%- else -%}
            {%- assign max_width = product.featured_image.width -%}
            {%- endif -%}

            <div class="AspectRatio AspectRatio--{% if use_natural_size %}withFallback{% else %}{{ settings.product_image_size }}{% endif %}"
                style="max-width: {{ max_width }}px; {% if use_natural_size %}padding-bottom: {{ 100.0 | divided_by: product.featured_image.aspect_ratio }}%;{% endif %} --aspect-ratio: {{ product.featured_image.aspect_ratio }}">
                {%- comment -%}
                IMPLEMENTATION NOTE: The alternate image (not visible by default) should be the first in the DOM, as the
                spinner (Image__Loader element) is
                displayed based on the immediately previously shown image.
                {%- endcomment -%}

                {%- if has_alternate_image -%}
                {%- include 'image-size', sizes: '200,300,400,600,800,900,1000,1200', image: product.images[1] -%}
                {%- assign image_url = product.images[1] | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

                <img class="ProductItem__Image ProductItem__Image--alternate Image--lazyLoad Image--fadeIn"
                    data-src="{{ image_url }}" data-widths="[{{ supported_sizes }}]" data-sizes="auto"
                    alt="{{ product.images[1].alt | escape }}" data-image-id="{{ product.images[1].id }}" data-handle="{{product.handle}}">
                {%- endif -%}

                {%- include 'image-size', sizes: '200,400,600,700,800,900,1000,1200', image: product.featured_image -%}
                {%- assign image_url = product.featured_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

                <img class="ProductItem__Image Image--lazyLoad Image--fadeIn" data-src="{{ image_url }}"
                    data-widths="[{{ supported_sizes }}]" data-sizes="auto"
                    alt="{{ product.featured_image.alt | escape }}" data-image-id="{{ product.featured_image.id }}" data-handle="{{product.handle}}">
                <span class="Image__Loader"></span>

                <noscript>
                    <img class="ProductItem__Image ProductItem__Image--alternate"
                        src="{{ product.images[1] | img_url: '600x' }}" alt="{{ product.images[1].alt | escape }}" data-handle="{{product.handle}}">
                    <img class="ProductItem__Image" src="{{ product.featured_image | img_url: '600x' }}"
                        alt="{{ product.featured_image.alt | escape }}" data-handle="{{product.handle}}">
                </noscript>
                {%- include 'icon' with 'info-icon-v2' -%}
            </div>
           
        </a>

        {%- if show_labels -%}
        {%- capture product_labels -%}
        {%- for tag in product.tags -%}
        {%- if tag contains '__label' -%}
        <span class="ProductItem__Label Heading Text--subdued">{{ tag | split: '__label:' | last }}</span>
        {%- break -%}
        {%- endif -%}
        {%- endfor -%}

        {%- if product.available -%}
        {%- if product.compare_at_price > product.price -%}
        <span class="ProductItem__Label Heading Text--subdued">{{ 'product.labels.on_sale' | t }}</span>
        {%- endif -%}
        {%- else -%}
        <span class="ProductItem__Label Heading Text--subdued">{{ 'product.labels.sold_out' | t }}</span>
        {%- endif -%}
        {%- endcapture -%}

        {%- if product_labels != blank -%}
        <div class="ProductItem__LabelList">
            {{ product_labels }}
        </div>
        {%- endif -%}
        {%- endif -%}

        {%- if show_product_info -%}
        <div
            class="ProductItem__Info {% unless use_horizontal %}ProductItem__Info--{{ settings.product_info_alignment }}{% endunless %}">
            {%- if show_vendor -%}
            <p class="ProductItem__Vendor Heading">{{ product.vendor }}</p>
            {%- endif -%}

            <h2 class="ProductItem__Title Heading u-h2">
                {% include 'split' %}
                <a>{{ product.title }}</a>
                  {{ desc[0] }}
            </h2>
        </div>
        {%- endif -%}

        {%- if show_price_info -%}
        <div class="ProductItem__PriceList Heading">
            {%- if product.compare_at_price > product.price -%}
                <span class="gauri ProductItem__Price Price Price--highlight Text--subdued" data-money-convertible>{{ product.price | money_without_trailing_zeros }}</span>
                <span class="gauri1 ProductItem__Price Price Price--compareAt Text--subdued" data-money-convertible>{{ product.compare_at_price | money_without_trailing_zeros }}</span>
                <div class="marginTop10">You Save: {{ product.compare_at_price | minus: product.price | money_with_currency}} ({{ product.compare_at_price | minus: product.price | times: 100.0 | divided_by: product.compare_at_price | round }}%)</div>
            {%- elsif product.price_varies -%}
                {%- capture formatted_min_price -%}
                    <span data-money-convertible>{{ product.price_min | money_without_trailing_zeros }}</span>
                {%- endcapture -%}
                {%- capture formatted_max_price -%}
                    <span data-money-convertible>{{ product.price_max | money_without_trailing_zeros }}</span>
                {%- endcapture -%}
                <span class="gauri2 ProductItem__Price Price Text--subdued">{{ 'collection.product.from_price_html' | t: min_price: formatted_min_price, max_price: formatted_max_price }}</span>
            {%- else -%}
                <span class="gauri3 ProductItem__Price Price Text--subdued" data-money-convertible>{{ product.price | money_without_trailing_zeros }}</span>
            {%- endif -%}
        </div>
        {%- endif -%}
    </div>

    {%- if use_horizontal -%}
    <a 
        class="ProductItem__ViewButton Button Button--secondary hidden-pocket">{{ 'collection.product.view_product' | t }}</a>
    {%- endif -%}
</div>

{%- if show_Buttons ==true -%}
{% assign product_data = product.selected_or_first_available_variant  %}
 
<div class="bottom-buttons">
    <div>
        <a class="Button button-add-to-kit" data-product='{{- product_data | json | escape -}}'>ADD TO EVERY KIT</a>
    </div>
    <div class="add-only-kit-div">
        <a class="add-only-kit" data-product='{{product_data | json | escape }}'>ADD TO THIS KIT ONLY</a>
    </div>
</div>
{%- endif -%}

 <style>
     .button-add-to-kit{
         background: #0097ce;
         color:white;
         border: 1px solid #0097ce;
         width: 100%;
         margin: 5px;
         cursor: pointer;
         padding: 0;
     }

     .add-only-kit{
        cursor: pointer;
        text-decoration: underline;
     }
     .bottom-buttons{
         text-align: center;
         margin-top: 10px;
     }
     .add-only-kit-div{
        margin-top: 10px;
     }
     .marginTop10 {
         margin-top:10px;
     }
</style>