
<style>
    
    @-webkit-keyframes glowing {
    0% { background-color: #B20000; -webkit-box-shadow: 0 0 3px #B20000; }
    50% { background-color: #FF0000; -webkit-box-shadow: 0 0 40px #FF0000; }
    100% { background-color: #B20000; -webkit-box-shadow: 0 0 3px #B20000; }
    }

    @-moz-keyframes glowing {
    0% { background-color: #B20000; -moz-box-shadow: 0 0 3px #B20000; }
    50% { background-color: #FF0000; -moz-box-shadow: 0 0 40px #FF0000; }
    100% { background-color: #B20000; -moz-box-shadow: 0 0 3px #B20000; }
    }

    @-o-keyframes glowing {
    0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
    50% { background-color: #FF0000; box-shadow: 0 0 40px #FF0000; }
    100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
    }

    @keyframes glowing {
    0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
    50% { background-color: #FF0000; box-shadow: 0 0 40px #FF0000; }
    100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
    }
    
    .arrow-right {
        width: 0; 
        height: 0;
        float:right; 
        margin:auto;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;  
        border-left: 15px solid {{ section.settings.btn_get_started_bg_color }};
    }
    .arrow-left {
        width: 0; 
        height: 0; 
        float:left;
        margin:auto;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;         
        border-right:15px solid  {{ section.settings.btn_get_started_bg_color }};
    }
    .previous i, .next i {
        border: solid white;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
    }
    div.sticky {
       width:100%;
        position:fixed;
       /* z-index:7;*/
    }

    .previous span, .next span {
        text-align: center;    
    }
    .next .right {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }

    .previous .left {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
    }
    .previous, .next {
      z-index:10;
      font-size:1.2em;
      line-height: 100%;
    }

    #go-previous-step {
        cursor:pointer;
        font-weight: 600;
        margin-left:20%;
        padding: 15px;
        width: 150px;
        color: {{ section.settings.btn_get_started_bg_color }};
        position: absolute;
        z-index: 100;
        top: 50%;
        left:0;
    }
    #go-next-step {
        cursor:pointer;
        font-weight: 600;
        margin-right:20%;
        padding: 15px;
        width: 120px;
        color: {{ section.settings.btn_get_started_bg_color }};
        position: absolute;
        z-index: 100;
        top: 50%;
        right:0;
        text-decoration: underline;
    }
    #go-next-step:disabled,
    #go-next-step[disabled] {
        color:gray;
        text-decoration: none;
    }
    .alignText{
        text-align:center;
    }
    .carousalContent {        
        min-height:200px;
        background-color:white;
    }
    .marginTop50{
        margin-top: 50px;
    }

    
    .marginTop20{
        margin-top: 20px;
    }

    .step-question {
        margin-top: 50px;
    }

@media screen and (max-width: 399px) {

    #shopify-section-step-one {
        margin-top:55%;
    }
}  
@media screen and (min-width: 400px) {

    #shopify-section-step-one {
      margin-top:45%;
  }
}  

@media screen and (min-width: 500px) {

    #shopify-section-step-one {
    margin-top:40%;
    }
}  
@media screen and (min-width: 600px) {

    #shopify-section-step-one {
    margin-top:35%;
    }
}  

@media screen and (min-width: 700px) {

    #shopify-section-step-one {
      margin-top:30%;
    }
}  
@media screen and (min-width: 800px) {

    #shopify-section-step-one {
      margin-top:25%;
    }
}  

@media screen and (min-width: 900px) {

    #shopify-section-step-one {
      margin-top:18%;
    }
}   

@media screen and (min-width: 1000px){
  #shopify-section-step-one {
      margin-top: 20%;
  }
}

@media screen and (min-width: 1100px){
  #shopify-section-step-one {
      margin-top: 18%;
  }
}

@media only screen and (max-width: 769px){
  .ContainerMobile{
    padding: 0;
  }  
}

@media screen and (max-width: 789px) {  
  #go-previous-step, #go-next-step {
    margin-left:0px;
    margin-right:0px;
  }

  .step-question {
    margin-top:10px;
  }
}

.stickyPosition {
  position:relative;
}
</style>
<div class="sticky alignText carousalContent">
    <div class="stickyPosition previous marginTop50" >
        <span href="#" class="carousalBack carousalStepBack" id="go-previous-step">
            <div class="arrow-left"></div>
            <span style="color: {{section.settings.btn_get_started_color}};">{{section.settings.previous-step-text}}</span>
        </span>
    </div>  
    <div class="stickyPosition next marginTop50">
        <span href="#" class="carousalBack carousalStepNext" id="go-next-step">
            <div class="arrow-right"></div>
            <span style="color: {{section.settings.btn_get_started_color}};">{{section.settings.next-step-text}}</span>
        </span>            
    </div>   
    <div class="marginTop50 stickyPosition alignText step-title-{{section.settings.title_text_size}}">
        <span class="step-title-{{section.settings.title_text_size}}" 
              style="color: {{section.settings.title-color}};">{{section.settings.step-title}}</span>
    </div>   
    <div style="clear:both;" class="stickyPosition marginTop50 question-title-{{section.settings.question_text_size}}">
        <span class="question-title-{{section.settings.title_text_size}}" 
              style="color: {{section.settings.question-color}};">{{section.settings.question-title}}</span>

              <div class="Container ContainerMobile">
                <div class="SectionHeader border-line"> 
                </div>
              </div> 
    </div>
</div> 

{% schema %}
{
    "name": {
        "en": "STEP 1 - Carousal Section"
    },
    "class": "carousalBack",
    "settings": [
        {
            "type": "color",
            "id": "btn_get_started_bg_color",
            "label": {
            "en": "Back Btn BG Color"
            },
            "default": "#fff"
        },    
        {
            "type": "color",
            "id": "btn_get_started_color",
            "label": {
            "en": "Back Btn Text Color"
            },
            "default": "#0992f4"
        },
        {
            "type": "select",
            "id": "title_text_size",
            "label": {
              "en": "Title Text size"
            },
            "default": "medium",
            "options": [
              {
                "label": {
                  "en": "Medium"
                },
                "value": "medium"
              },
              {
                "label": {
                  "en": "Large"
                },
                "value": "large"
              }
            ]
          },
          {
            "type": "color",
            "id": "title-color",
            "label": {
              "en": "Step Title Color"
            },
            "default": "#0097ce"
        },
        {
            "type": "text",
            "id": "step-title",
            "label": {
              "en": "STEP 1 Title"
            },
            "default": {
              "en": "STEP 1"
            }
        },
        {
          "type": "text",
          "id": "previous-step-text",
          "label": {
            "en": "Previous Step text"
          },
          "default": {
            "en": "PREVIOUS"
          }
      },      
      {
        "type": "text",
        "id": "next-step-text",
        "label": {
          "en": "Next Step text"
        },
        "default": {
          "en": "NEXT"
        }
      },
        {
        "type": "select",
        "id": "question_text_size",
        "label": {
          "en": "Step Question Text size"
        },
        "default": "medium",
        "options": [
          {
            "label": {
              "en": "Medium"
            },
            "value": "medium"
          },
          {
            "label": {
              "en": "Large"
            },
            "value": "large"
          }
        ]
      },
      {
        "type": "color",
        "id": "question-color",
        "label": {
          "en": "Step Question Color"
        },
        "default": "#0097ce"
    },
    {
        "type": "text",
        "id": "question-title",
        "label": {
          "en": "STEP 1 Question"
        },
        "default": {
          "en": "What is your typical hygiene routine?"
        }
      }
    ]
}
{% endschema %}