
<style>
    
@-webkit-keyframes glowing {
  0% { background-color: #B20000; -webkit-box-shadow: 0 0 3px #B20000; }
  50% { background-color: #FF0000; -webkit-box-shadow: 0 0 40px #FF0000; }
  100% { background-color: #B20000; -webkit-box-shadow: 0 0 3px #B20000; }
}

@-moz-keyframes glowing {
  0% { background-color: #B20000; -moz-box-shadow: 0 0 3px #B20000; }
  50% { background-color: #FF0000; -moz-box-shadow: 0 0 40px #FF0000; }
  100% { background-color: #B20000; -moz-box-shadow: 0 0 3px #B20000; }
}

@-o-keyframes glowing {
  0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
  50% { background-color: #FF0000; box-shadow: 0 0 40px #FF0000; }
  100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
}

@keyframes glowing {
  0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
  50% { background-color: #FF0000; box-shadow: 0 0 40px #FF0000; }
  100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
}
    .arrow-right {
        width: 0; 
        height: 0; 
        margin:auto;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;  
        border-left: 15px solid {{section.settings.btn_get_started_arrow_color}};
    }
    .arrow-left {
        width: 0; 
        height: 0; 
        margin:auto;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;         
        border-right:15px solid {{section.settings.btn_get_started_arrow_color}};
    }
    .previous i, .next i {
        border: solid white;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
    }
    div.sticky {
        /*position:fixed;*/
        position:absolute;
        top:50%;
        width:100%;
        z-index:100;
    }

    .previous span, .next span {
        text-align: center;    
    }
    .next .right {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }

    .previous .left {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
    }

    #go-previous-step {
        margin-left:10px;
        padding: 15px;
        width: 50px;
        border-radius:50%;
        background-color: {{ section.settings.btn_get_started_bg_color }};
        color:{{ section.settings.btn_get_started_color }};
        position: absolute;
        z-index: 100;
        top: 50%;
        left:0;
    }
    #go-next-step {
        margin-right:10px;
        padding: 15px;
        width: 50px;
        border-radius:50%;
        background-color: {{ section.settings.btn_get_started_bg_color }};
        color:{{ section.settings.btn_get_started_color }};
        position: absolute;
        z-index: 100;
        top: 50%;
        right:0;
        text-decoration: none;
  -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
    }
    #go-next-step:disabled,
    #go-next-step[disabled] {
        background-color:gray;
    }
</style>
<div>
    <div class="sticky previous">
        <span href="#" class="carousalBack" id="go-previous-step"><div class="arrow-left"></div></span>
    </div>
    <div class="sticky next">
            <span href="#" class="carousalBack" id="go-next-step"><div class="arrow-right"></div></span>            
    </div>
</div>


{% schema %}
{
    "name": {
        "en": "Carousal Button Config"
    },
    "class": "carousalBack",
    "settings": [
        {
            "type": "color",
            "id": "btn_get_started_bg_color",
            "label": {
            "en": "Back Btn BG Color"
            },
            "default": "#0992f4"
        },    
        {
            "type": "color",
            "id": "btn_get_started_arrow_color",
            "label": {
            "en": "Back Btn Arrow Color"
            },
            "default": "#fff"
        }, 
        {
            "type": "color",
            "id": "btn_get_started_color",
            "label": {
            "en": "Back Btn Text Color"
            },
            "default": "#fff"
        }
    ]
}
{% endschema %}