<div class="Container">
<div class="PageContent">
        <form action="/cart" method="POST" class="Cart Cart--expanded" novalidate>
          <input type="hidden" name="attributes[collection_mobile_items_per_row]" value="">
          <input type="hidden" name="attributes[collection_desktop_items_per_row]" value="">

          {% include 'cart-items.ajax' %}
          
          <footer class="Cart__Footer footerTable">
                <span class="Cart__HeadItem"></span>
                <span class="Cart__HeadItem"></span>
                <span class="Cart__HeadItem" style="text-align: center"></span>
                <span class="Cart__HeadItem" style="text-align: center"> </span>
                <span class="Cart__HeadItem text-transform-upper price-info-align price-tag-desktop-only price-font-size">
                     {{ 'cart.general.total' | t }}  : 
                     <span data-money-convertible>
                        {{ cart.total_price | money_without_trailing_zeros }} 
                    </span>
                </span>
                <span class="Cart__HeadItem price-tag-mobile-only text-transform-upper">
                        {{ 'cart.general.total' | t }}  : 
                        <span data-money-convertible>
                           {{ cart.total_price | money_without_trailing_zeros }} 
                       </span>
                   </span>
          </footer>
          <div class="checkout-btn-cart question-title-medium"> {{section.settings.checkout-info-title}} </div>
        </form>
</div>
</div>
<style>
    .checkout-btn-cart{
        display: block;
        text-align: center;
    }
    .price-tag-mobile-only{
      font-size: 1.8em; 
    }

    .price-font-size{
      font-size: 1.8em;
    }  
    .Cart--expanded .Cart__Checkout{
        display: inline-block;
    }
    .Cart--expanded .Cart__Checkout{
        width: 200px;
    }
    .footerTable .Cart__HeadItem {
        border: none !important;
        text-align: center;
    }
    .price-info-align{
        text-align: center;
    }
    .text-transform-upper{
      text-transform: uppercase;
    }
  </style>
  
  {% schema %}
  {
      "name": {
          "en": "Checkout Title"
      },
      "class": "cart",
      "settings": [
        {
          "type": "text",
          "id": "checkout-info-title",
          "label": {
            "en": "Checkout Button above info"
          },
          "default": {
            "en": "Didn’t even break a sweat"
          }
        }
      ]
  }
  {% endschema %}