<section>
    <div id="section-cta">
        <button id="checkout-custom-button" name="checkout" class="checkout-custom-btn-bg checkout-custom-button button">{{ section.settings.linktext }}</button>
    </div>
    <div class="margintop" id="section-cta">
            <button id="checkout-custom-button" name="checkout" class="addmore-products-custom-button button">{{ section.settings.AddMoreLinkText }}</button>
    </div>
</section>
{% schema %}
  {
    "name": "STEP 3 - Checkout Button",
    "settings": [
        {
            "id": "linktext",
            "type": "text",
            "label": "Checkout Button text",
            "default": "CHECKOUT"
        },
        {
            "id": "AddMoreLinkText",
            "type": "text",
            "label": "Add More Text",
            "default": "ADD MORE PRODUCTS"
        },
        {
            "type": "color", 
            "id": "btnBgColor",
            "label": {
              "en": "Button Background Color"
            },
            "default": "#0097ce"
        },
        {
            "type": "color", 
            "id": "addMoreBtnBgColor",
            "label": {
              "en": "Add More Button Background Color"
            },
            "default": "#fff"
        },
        {
            "type": "color",
            "id": "btnTextColor",
            "label": {
              "en": "Button Text Color"
            },
            "default": "#fff"
        },
        {
            "type": "color",
            "id": "AddMoreBtnTextColor",
            "label": {
              "en": "Add More Button Text Color"
            },
            "default": "#0097ce"
        }
    ]
  }
{% endschema %}

<style>
    .addmore-products-custom-button {        
        text-align:center;
        padding: 7px 18px;
        color: {{ section.settings.AddMoreBtnTextColor }};
        background-color: {{section.settings.addMoreBtnBgColor}};
        font-weight: 600;
        width: 200px;
        cursor:pointer;
        text-decoration:underline;
    }
    .checkout-custom-btn-bg {
        text-align:center;
        padding: 7px 18px;
        color: {{ section.settings.btnTextColor }};
        background-color: {{section.settings.btnBgColor}};
        font-weight: 600;
        width: 200px;
    }
    #section-cta {
        text-align:center; 
    }

    .margintop {
        margin-top:15px;
        clear:both;
    }
</style>

{% javascript %}
{% endjavascript %}