{%- capture flickity_options -%}
    {
                                                                "prevNextButtons": true,
                                                                "pageDots": true,
                                                                "wrapAround": false,
                                                                "contain": true,
                                                                "cellAlign": "center",
                                                                "watchCSS": false,
                                                                "dragThreshold": 8,
                                                                "groupCells": true,
                                                                "autoPlay": 5000,
                                                                "adaptiveHeight": false,
                                                                "arrowShape": {"x0": 20, "x1": 60, "y1": 40, "x2": 60, "y2": 35, "x3": 25}
                                                                }
{%- endcapture -%}

{% capture title-content %}
    <div class="title-container">
        <div class="FeatureText__Content">
            {%- if section.settings.subheading != blank or section.settings.title != blank -%}
                <header class="SectionHeader">
                    {%- if section.settings.title != blank -%}
                        <h2 class="SectionHeader__Heading Heading u-h1" style="color: {{ section.settings.button_color }};">{{
                  section.settings.title | escape }}</h2>
                    {%- endif -%}

                    {%- if section.settings.subheading != blank -%}
                        <h3 class="SectionHeader__SubHeading Heading u-h6" style="color: {{ section.settings.button_color }};">{{
                  section.settings.subheading | escape }}</h3>
                    {%- endif -%}
                </header>
            {%- endif -%}
        </div>
    </div>
{% endcapture %}

{% capture button-content %}
    {%- if section.settings.button_text != blank -%}
        <div class="button-container">
            {%- if section.settings.button_text != blank -%}
                <a href="{{ section.settings.button_link }}" class="Button" style="background-color: {{ section.settings.button_color }}; color: {{ section.settings.background_color }};">{{ section.settings.button_text | escape }}</a>
            {%- endif -%}
        </div>
    {%- endif -%}
{% endcapture %}

<section class="Section Section--spacingNormal icon-row-w-text" id="section-{{ section.id }}" style="background-color: {{ section.settings.background_color }}; color:{{ section.settings.button_color }};">
    <div class="Container">
        {{- title-content -}}
        {% if section.settings.row_icons == "shame" %}
            <div class="icons-container">
                {% for block in section.blocks %}
                    <div class="icon-text-container">
                        {% if section.settings.order == "top" %}
                            <h3>{{ block.settings.caption }}</h3>
                            <img src="{{ block.settings.svg }}">
                        {% else %}
                            <img src="{{ block.settings.svg }}">
                            <h3>{{ block.settings.caption }}</h3>
                        {% endif %}

                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="icons-container-carousel" data-flickity='{{ flickity_options }}'>
                {% for block in section.blocks %}
                    <div class="icon-text-container-caroucell">
                        {% if section.settings.order == "top" %}
                            <h3>{{ block.settings.caption }}</h3>
                            <img src="{{ block.settings.svg }}">
                        {% else %}
                            <img src="{{ block.settings.svg }}">
                            <h3>{{ block.settings.caption }}</h3>
                        {% endif %}

                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {{- button-content -}}
    </div>
</section>

{% schema %}

{
    "name": "Icon Row w/Text",
    "class": "shopify-section--bordered",
    "max_blocks": 6,
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Icon row"
        }, {
            "type": "text",
            "id": "subheading",
            "label": "Sub-heading",
            "default": "Sub-heading"
        }, {
            "type": "color",
            "id": "background_color",
            "label": "Background Color",
            "default": "#FF40B4"
        }, {
            "type": "color",
            "id": "button_color",
            "label": "Button Color",
            "default": "#FFF"
        }, {
            "type": "radio",
            "id": "row_icons",
            "options": [
                {
                    "value": "shame",
                    "label": "No Shame In Our Game"
                }, {
                    "value": "as-seen",
                    "label": "As Seen In"
                }
            ],
            "label": "Row Icons"
        }, {
            "type": "radio",
            "id": "order",
            "options": [
                {
                    "value": "top",
                    "label": "Text Top"
                }, {
                    "value": "bottom",
                    "label": "Text Bottom"
                }
            ],
            "label": "Text Order"
        }, {
            "type": "text",
            "id": "button_text",
            "label": "Button Text",
            "default": "Learn More"
        }, {
            "type": "url",
            "id": "button_link",
            "label": "Button Link"
        }
    ],
    "blocks": [
        {
            "type": "icon",
            "name": "Icon",
            "settings": [
                {
                    "type": "url",
                    "id": "svg",
                    "label": "SVG"
                }, {
                    "type": "text",
                    "id": "caption",
                    "label": "Text",
                    "default": "Text Here"
                }
            ]
        }
    ],
    "presets": [
        {
            "category": "Text",
            "name": "Icon Row w/Text",
            "settings": {}
        }
    ]
}

{% endschema %}