<style>

  .marginBottom40 {
    margin-bottom:40px;
  }
.marginBottom20 {
  margin-bottom:20px;
}
.marginTop20 {
  margin-top:10px;
}

  #btn_email_to_shopifyregister_and_newsletter {
    padding:10px 50px;
    background-color: {{ section.settings.btn_get_started_bg_color }};
    color:{{ section.settings.btn_get_started_color }};
  }
  
  .input_box_color {
      background-color:{{ section.settings.email_textbox_background }};
      color: {{ section.settings.email_text_color }};
      border: 1px solid white;
      width: 350px;
      height: 40px;
      padding-left: 10px;
      margin-bottom:35px;
  }
  
  .input_box_color::placeholder{
      color: {{ section.settings.email_text_color }};
      width: 250px;
      height: 40px;
      padding-left: 10px;
  }
  
  .shipping_type_color {
    color: {{ section.settings.shipping_type_color }};
  }
  </style>
  
  {%- if section.settings.hero_layout == 'full_width' and section.settings.hero_size == 'adapt' -%}
      {%- if section.settings.image.aspect_ratio == blank -%}
        {%- assign min_aspect_ratio = 2.0 -%}
      {%- else -%}
        {%- assign min_aspect_ratio = section.settings.image.aspect_ratio -%}
      {%- endif -%}
      {%- assign wrapper_height = 100 | divided_by: min_aspect_ratio -%}
      {%- style -%}
        .hero-{{ section.id }} {
          height: {{- wrapper_height -}}vw !important;
        }
    {%- endstyle -%}
  {%- endif -%}
  
  
  <div data-section-id="{{ section.id }}" data-section-type="hero-section">
    {%- if section.settings.hero_layout == 'fixed_width' -%}
      <div class="page-width">
    {%- endif -%}
  
    {%- if section.settings.hero_layout == 'fixed_width' and section.settings.hero_size ==  'adapt' -%}
      {%- assign slide_width = 1090 -%}
      {%- assign min_aspect_ratio = section.settings.image.aspect_ratio | default: 2.0 -%}
      <div class="hero-fixed-width hero--adapt"
           id="Hero-{{ section.id }}"
           data-layout="{{ section.settings.hero_layout }}">
        {%- assign img_url = section.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
          {%- if section.settings.image.width < max_width -%}
            {%- assign slide_width = section.settings.image.width -%}
          {%- endif -%}
        <div class="hero-fixed-width__content">
          <div class="page-width text-center">
            {%- if section.settings.title != blank -%}
              <h2 class="h1 mega-title mega-title--{{section.settings.text_size}}">{{ section.settings.title | escape }}</h2>
            {%- endif -%}
            {%- if section.settings.text != blank -%}
              <div class="marginBottom20 rte-setting mega-subtitle mega-subtitle--{{section.settings.text_size}}">{{ section.settings.text }}</div>
            {%- endif -%}         
            {%- if section.settings.kit_currency != blank and section.settings.kit_price != blank -%}
              <div class="marginTop20 rte-setting mega-subtitle mega-subtitle--{{section.settings.text_size}}">{{ section.settings.kit_currency }}{{ section.settings.kit_price }}</div>
            {%- endif -%}
             {%- if section.settings.shipping_type != blank -%}
              <div class="rte-setting mega-subtitle mega-shipping--{{section.settings.text_size}} marginBottom40 shipping_type_color">{{ section.settings.shipping_type }}</div>
            {%- endif -%}
            {%- if section.settings.button_label != blank and section.settings.button_link != blank -%}
              <a href="{{ section.settings.button_link }}" id="btn_email_to_shopifyregister_and_newsletter" class="btn hero__btn">
                {{ section.settings.button_label | escape }}
              </a>
            {%- endif -%}
          </div>
        </div>
        {%- if section.settings.image != blank -%}
          <img class="hero-fixed-width__image lazyload lazypreload"
               src="{{ section.settings.image | img_url: '300x300' }}"
               data-src="{{ img_url }}"
               data-widths="[180, 360, 470, 600, 770, 970, 1060, 1280, 1512, 1728, 2048]"
               data-aspectratio="{{ section.settings.image.aspect_ratio }}"
               data-sizes="auto"
               style="{%- if slide_width <= max_width -%}
                        {%- assign min_width = slide_width | times: 100 | divided_by: max_width -%}
                        min-width: {{ min_width }}%;
                      {%- endif -%}
                      object-position: {{ section.settings.alignment }};"
               alt="{{ section.settings.image.alt | escape }}">
        {%- else -%}
          <span>
            {% capture current %}{% cycle 1, 2 %}{% endcapture %}
            {{ 'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
          </span>
        {%- endif -%}
        <noscript>
          <div class="hero-fixed-width__image"{% if section.settings.image %} style="background-image: url({{ section.settings.image | img_url: '2048x' }}); background-position: center {{ section.settings.alignment }};"{% endif %}></div>
        </noscript>
      </div>
    {%- else -%}
      <div class="hero hero--{{ section.settings.hero_size }} hero-{{ section.id }}{% if section.settings.title != blank or section.settings.text != blank %} hero__overlay{% endif %} box ratio-container lazyload js"
           id="Hero-{{ section.id }}"
           data-src="{{ img_url }}"
           data-layout="{{ section.settings.hero_layout }}"
           {%- if section.settings.image -%}
              data-bgset="{% include 'bgset', image: section.settings.image %}"
              data-sizes="auto"
              data-parent-fit="cover"
              style="background-position: 50% 80%; max-height:100vh; background-image: url({{ section.settings.image | img_url: '1296x' }});"
           {%- endif -%}>
      {%- if section.settings.image == blank -%}
        <div class="placeholder-background">
          {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
        </div>
      {%- endif -%}
        <div class="hero__inner">
          <div class="page-width text-center">
            {%- if section.settings.title != blank -%}
              <h2 class="h1 mega-title mega-title--{{section.settings.text_size}}">{{ section.settings.title | escape }}</h2>
            {%- endif -%}
            {%- if section.settings.text != blank -%}
              <div class="rte-setting mega-subtitle mega-subtitle--{{section.settings.text_size}}">{{ section.settings.text }}</div>
            {%- endif -%}                  
            {%- if section.settings.kit_currency != blank and section.settings.kit_price != blank -%}
              <div class="marginTop20 rte-setting mega-subtitle mega-subtitle--{{section.settings.text_size}}">{{ section.settings.kit_currency }}{{ section.settings.kit_price }}</div>
            {%- endif -%}
             {%- if section.settings.shipping_type != blank -%}
              <div class="rte-setting mega-subtitle mega-shipping--{{section.settings.text_size}} marginBottom40 shipping_type_color">{{ section.settings.shipping_type }}</div>
            {%- endif -%}
           
              <a href="{{ section.settings.button_link }}" id="btn_email_to_shopifyregister_and_newsletter" class="btn hero__btn">
                {{ section.settings.button_label | escape }}
              </a>
          </div>
        </div>
      </div>
      <noscript>
        <div class="hero hero--{{ section.settings.hero_size }}{% if section.settings.title != blank or section.settings.text != blank or section.settings.button_label != blank %} hero__overlay{% endif %}"{% if section.settings.image %} style="background-image: url('{{ section.settings.image | img_url: '2048x' }}'); background-position: center {{ section.settings.alignment }};"{% endif %}></div>
      </noscript>
    {%- endif -%}
    {%- if section.settings.hero_layout == 'fixed_width' -%}
      </div>
    {%- endif -%}
  </div>
  
  {% schema %}
  {
    "name": {
      "en": "Image with Text Overlay"
    },
    "class": "index-section index-section--flush",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": {
          "en": "Image"
        }
      },
      {
        "type": "select",
        "id": "alignment",
        "label": {
          "en": "Image alignment"
        },
        "default": "center",
        "options": [
          {
            "value": "top",
            "label": {
              "en": "Top"
            }
          },
          {
            "value": "center",
            "label": {
              "en": "Middle"
            }
          },
          {
            "value": "bottom",
            "label": {
              "en": "Bottom"
            }
          }
        ]
      },
      {
        "type": "select",
        "id": "hero_layout",
        "label": {
          "en": "Layout"
        },
        "default": "full_width",
        "options": [
          {
            "label": {
              "en": "Full width"
            },
            "value": "full_width"
          },
          {
            "label": {
              "en": "Fixed width"
            },
            "value": "fixed_width"
          }
        ]
      },
      {
        "type": "select",
        "id": "hero_size",
        "label": {
          "en": "Section height"
        },
        "default": "medium",
        "options": [
          {
            "label": {
              "en": "Adapt to image"
            },
            "value": "adapt"
          },
          {
            "label": {
              "en": "Extra Small"
            },
            "value": "x-small"
          },
          {
            "label": {
              "en": "Small"
            },
            "value": "small"
          },
          {
            "label": {
              "en": "Medium"
            },
            "value": "medium"
          },
          {
            "label": {
              "en": "Large"
            },
            "value": "large"
          },
          {
            "label": {
              "en": "Extra Large"
            },
            "value": "x-large"
          }
        ]
      },
      {
        "type": "select",
        "id": "text_size",
        "label": {
          "en": "Text size"
        },
        "default": "medium",
        "options": [
          {
            "label": {
              "en": "Medium"
            },
            "value": "medium"
          },
          {
            "label": {
              "en": "Large"
            },
            "value": "large"
          }
        ]
      },
      {
        "type": "text",
        "id": "title",
        "label": {
          "en": "Heading"
        },
        "default": {
          "en": "V BASIC KIT"
        }
      },    
      {
        "type": "richtext",
        "id": "text",
        "label": {
          "en": "Text"
        },
        "default": {
          "en": "<p>Get ready for your daily vaginal routine.</p>"
        }
      },
      {
        "type": "text",
        "id": "button_label",
        "label": {
          "en": "Button label"
        },
        "default": {		
          "en": "LET'S GET STARTED"		
        }
      },
      {
        "type": "text",
        "id": "kit_currency",
        "label": {
          "en": "Kit Currency"
        },
        "default": {
          "en": "$"
        }
      },
      {
        "type": "text",
        "id": "kit_price",
        "label": {
          "en": "Kit Price"
        },
        "default": {
          "en": "35"
        }
      },    
      {
        "type": "text",
        "id": "shipping_type",
        "label": {
          "en": "Shipping Type"
        },
        "default": {
          "en": "FREE SHIPPING"
        }
      },
      {
        "type": "url",
        "id": "button_link",
        "label": {
          "en": "Button link"
        }
      },
      {
          "type": "color",
          "id": "email_textbox_background",
          "label": {
            "en": "Email Textbox Background"
          },
          "default": "#68cfe0"
      },
      
      {
          "type": "color",
          "id": "email_text_color",
          "label": {
            "en": "Email Text Color"
          },
          "default": "#fff"
      },
      {
          "type": "color",
          "id": "shipping_type_color",
          "label": {
            "en": "Shipping Type Color"
          },
          "default": "#fff"
      },    
      {
          "type": "color",
          "id": "btn_get_started_bg_color",
          "label": {
            "en": "Button Get Startd Background"
          },
          "default": "#0992f4"
      },    
      {
          "type": "color",
          "id": "btn_get_started_color",
          "label": {
            "en": "Button Get Startd Text Color"
          },
          "default": "#fff"
      }
    ],
    "presets": [
      {
        "name": {
          "en": "V BASIC KIT"
        },
        "category": {
          "en": "Image"
        }
      }
    ]
  }
  {% endschema %}
  