<div class="Grid Grid--l Grid--center">

  <div class="Grid__Cell 1/1--phone 1/2--tablet 1/2--lap-and-up product-kit-main">
    {% include 'split' %}
    <div class="ProductMeta Product-info-mobile">
        <h1 class="ProductMeta__Title Heading u-h2 Product-info-mobile">
            {{- product.title -}}
            {{ desc[0] }}
        </h1>
    </div>
    <div class="Product__Gallery product-popup-image  Product__Gallery--withThumbnails" > 
    {%- assign initial_image_id = product.featured_image.id -%}
    {%- assign initial_image_index = 0 -%}
    {%- assign image_count = 0 -%}

    {%- capture slideshow_images -%}
        {%- for image in product.images -%}
            {%- if image.alt == 'featured' or image.alt == 'featured mobile' -%}
                {%- continue -%}
            {%- endif -%}

            {%- if image.id == product.selected_or_first_available_variant.image.id -%}
                {%- assign initial_image_index = image_count -%}
                {%- assign initial_image_id = image.id -%}
            {%- endif -%}

            {%- include 'image-size', sizes: '200,400,600,700,800,900,1000,1200,1400,1600', image: image -%}

            {%- assign is_video = false -%}

            <div id="Image{{ image.id }}" class="Product__SlideItem Product__SlideItem--{% if is_video %}video{% else %}image{% endif %} Carousel__Cell {% if initial_image_id == image.id %}is-selected{% endif %}" {% if is_video %} data-action="open-modal" aria-controls="modal-video-{{ image.id }}" {% endif %} {% unless is_video %} data-image-position-ignoring-video="{% increment image_position_without_video %}" {% endunless %} data-image-position="{% increment image_position %}" data-image-id="{{ image.id }}">
                <div class="AspectRatio AspectRatio--withFallback" style="padding-bottom: {{ 100.0 | divided_by: image.aspect_ratio }}%; --aspect-ratio: {{ image.aspect_ratio }};">
                    {% assign image_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}

                    <img class="Image--lazyLoad Image--fadeIn" {% if initial_image_id == image.id %} src="{{ image | img_url: '250x' }}" {% endif %} data-src="{{ image_url }}" data-widths="[{{ supported_sizes }}]" data-sizes="auto" data-expand="-100" alt="{{ image.alt | escape }}" data-max-width="{{ image.width }}" data-max-height="{{ image.height }}" data-original-src="{{ image | img_url: 'master' }}">

                        <span class="Image__Loader"></span>

                        <noscript>
                            <img src="{{ image | img_url: '800x' }}" alt="{{ image.alt | escape }}"></noscript>
                        </div>
                    </div>

                    {%- assign image_count = image_count | plus: 1 -%}
                {%- endfor -%}
            {%- endcapture -%}

            {%- if product.images.size > 0 -%}
                <div class="Product__Gallery {% if section.settings.stack_images %}Product__Gallery--stack{% endif %} {% if section.settings.show_thumbnails and image_count > 1 %}Product__Gallery--withThumbnails{% else %}Product__Gallery--withDots{% endif %}">
                    <span class="Anchor" id="ProductGallery"></span>

                    {%- capture slideshow_nav -%}
                        {%- if image_count > 1 -%}
                            {%- if true -%}
                                <div class="Product__SlideshowNav Product__SlideshowNav--thumbnails product-info-nav carousel">
                                    <!-- <div class="Product__SlideshowNavScroller"> -->
                                        {%- for image in product.images -%}
                                            {%- if image.alt == 'featured' or image.alt == 'featured mobile' -%}
                                                {%- continue -%}
                                            {%- endif -%}

                                            {%- if true -%}
                                                <span data-image-id="{{ image.id }}" class="Product__SlideshowNavImage {% if is_video %}Product__SlideshowNavImage--video{% endif %} AspectRatio {% if forloop.first %}is-selected{% endif %}" style="--aspect-ratio: {{ image.aspect_ratio }}">
                                                <img src="{{ image | img_url: '160x' }}">
                                                   
                                                </span>
                                                {%- else -%}
                                                    <span data-image-id="{{ image.id }}" class="Product__SlideshowNavImage {% if is_video %}Product__SlideshowNavImage--video{% endif %} AspectRatio {% if forloop.first %}is-selected{% endif %}" style="--aspect-ratio: {{ image.aspect_ratio }}">
                                                        <img src="{{ image | img_url: '160x' }}">
                                                        </span>
                                                    {%- endif -%}
                                                {%- endfor -%}
                                            <!-- </div> -->
                                        </div>
                                    {%- endif -%}

                                    {%- if true -%}
                                        <div class="Product__SlideshowNav Product__SlideshowNav--dots">
                                            <div class="Product__SlideshowNavScroller">
                                                {%- for image in product.images -%}
                                                    {%- if image.alt == 'featured' or image.alt == 'featured mobile' -%}
                                                        {%- continue -%}
                                                    {%- endif -%}

                                                    <a class="Product__SlideshowNavDot {% if forloop.first %}is-selected{% endif %}" href="#Image{{ image.id }}"></a>
                                                {%- endfor -%}
                                            </div>
                                        </div>
                                    {%- endif -%}
                                {%- endif -%}
                            {%- endcapture -%}

                            {%- capture flickity_options -%}
                                {
                                                                                                                                                                                                                                                                                                                                          "pageDots":
                                {% if image_count > 1 %}true{% else %}false
                                {% endif %},
                                                                                                                                                                                                                                                                                                                                          "adaptiveHeight": true,
                                {{ initial_image_index }},
                                                                                                                                                                                                                                                                                                                                          "arrowShape": {"x0": 20, "x1": 60, "y1": 40, "x2": 60, "y2": 35, "x3": 25}
                                                                                                                                                                                                                                                                                                                                        }
                            {%- endcapture -%}

                            <div class="Product__Slideshow  product-info-slider {% if section.settings.enable_image_zoom %}Product__Slideshow--zoomable{% endif %} Carousel" data-flickity-config='{{ flickity_options }}'>
                                {{ slideshow_images }}
                            </div>

                            <!-- {%- unless section.settings.stack_images -%} -->
                            <!-- <div class="product-info-nav"> -->
                                {{ slideshow_nav }}
                            <!-- {%- endunless -%} -->
                        </div>
                    {%- endif -%}
                  </div> 
    <div class="getting-started">
        <a id="btn_email_to_shopifyregister_and_newsletter" class="btn hero__btn gettng-started-btn">
        LET'S GET STARTED
        </a>
    </div>             
  </div>
  <div class="Grid__Cell 1/1--phone 1/2--tablet 1/2--lap-and-up">

    <div class="ProductMeta product-popup-description">
      {% include 'product-meta-ajax', show_description: true %}
    </div>
    {% include "split" %}
  </div>
</div>
</div>

{% schema %}
{
"name": "Product Kit popup",
    "settings": [
        {
            "type": "checkbox",
            "id": "show_popup",
            "label": "Enable",
            "default": true
        },
        {
            "type": "range",
            "id": "apparition_delay",
            "min": 0,
            "max": 15,
            "step": 1,
            "unit": "sec",
            "label": "Delay until the popup appears",
            "default": 5
        }
    ]
}
{% endschema %}

<style>
@media screen and (min-width: 1008px){
    .product-kit-main .Product__Gallery{
        margin-left: 20px;
    }

    .product-kit-main .Product__SlideshowNav--dots{
        display: none;
    }
}

@media screen and (min-width: 1240px){
    .product-kit-main .Product__Slideshow{
         padding-top: 0px;
    }
}

.Modal--show-product-info .product-popup-image{
    margin-top: 20px;
}
.Modal--show-product-info .product-popup-description{
    margin-top: 10px;
}

.Modal--show-product-info .Product-info-mobile{
    display: none;
}
.Modal--show-product-info .product-info-desktop{
    display: block;
}

.Modal--show-product-info .getting-started{
        display: block;
        text-align: center;
}

@media only screen and (max-width: 600px) {
    .Modal--show-product-info .Product-info-mobile{
        display: block;
        margin-right: 20px;
    }

    .Modal--show-product-info .product-info-desktop {
        display: none;
    }

    .Modal--show-product-info .ProductMeta__Description{
        /* padding-top: 0; */
        border-top : none;
        /* margin-top: 0px; */
    }
    .Modal--show-product-info .ProductMeta__Description h2:first-child{
        display: none;
    }

    .Modal--show-product-info .product-info-data-wrapper{
        padding: 10px;
    }

    
}

</style>

{% stylesheet 'scss' %}

.ProductItem__ImageWrapper {
    .Icon--info-icon-v2 {
      color: white;
      height: 2em;
      width: 2em;
      position: absolute;
      bottom: 20px;
      right: 20px;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .ProductItem__ImageWrapper {
      .Icon--info-icon-v2 {
        height: 1.5em;
        width: 1.5em;
      }
    }
  }
  {% endstylesheet %}