<style>
  .marginTop10 {
    margin-top:10px;
  }
  .marginTop20 {
    margin-top:20px;
  }
.marginTop40 {
  margin-top:40px;
}

.textAlignCenter {
  text-align:center;
}

.info-title-medium {
  font-size:1.5em;
}

.info-title-large {
  font-size:1.7em;
}

.total-title-medium {
  font-size:1.5em;
}

.total-title-large {
  font-size:1.7em;
}
</style>
<div data-section-id="{{ section.id }}" data-section-type="hero-section">
    <div class="row textAlignCenter">
        <div class="marginTop40 step-title-{{section.settings.title_text_size}}">
            <span class="step-title-{{section.settings.title_text_size}}" style="color: {{section.settings.title-color}};">{{section.settings.step-title}}</span>
        </div>
        <div class="marginTop40 question-title-{{section.settings.question_text_size}}">
            <span class="question-title-{{section.settings.title_text_size}}" style="color: {{section.settings.question-color}};">{{section.settings.question-title}}</span>
        </div>
        <div class="marginTop20 question-title-{{section.settings.question_text_size}}">
            <span class="info-title-{{section.settings.title_text_size}}" style="color: {{section.settings.info-color}};">{{section.settings.info-title}}</span>
        </div>
        <div class="marginTop20 question-title-{{section.settings.question_text_size}}">
          <span class="total-title-{{section.settings.title_text_size}}" style="color: {{section.settings.info-color}};">{{section.settings.total-title}}</span>
        </div>
        <div class="marginTop10 question-title-{{section.settings.question_text_size}}">
          <span class="user-info-title-{{section.settings.title_text_size}}" style="color: {{section.settings.info-color}};">{{section.settings.user-info-title}}</span>
        </div>
    </div>
</div>

{% schema %}
{
    "name": {
      "en": "STEP Three Settings"
    },
    "class": "index-section index-section--flush",
    "settings":  [
    {
      "type": "text",
      "id": "step-title",
      "label": {
        "en": "STEP 3"
      },
      "default": {
        "en": "STEP 3"
      }
    },
    {
        "type": "color",
        "id": "title-color",
        "label": {
          "en": "Step Title Color"
        },
        "default": "#0097ce"
    },
    {
      "type": "color",
      "id": "question-color",
      "label": {
        "en": "Step Question Color"
      },
      "default": "#0097ce"
  },
  {
      "type": "text",
      "id": "question-title",
      "label": {
        "en": "Step Three"
      },
      "default": {
        "en": "Check out what you’re getting."
      }
  },
  {
    "type": "color",
    "id": "info-color",
    "label": {
      "en": "Shipping Info Text Color"
    },
    "default": "#0097ce"
},
{
    "type": "text",
    "id": "info-title",
    "label": {
      "en": "Shipping Info "
    },
    "default": {
      "en": "Your first box ships today"
    }
},
{
  "type": "text",
  "id": "total-title",
  "label": {
    "en": "Total text"
  },
  "default": {
    "en": "Total: "
  }
},
{
  "type": "text",
  "id": "user-info-title",
  "label": {
    "en": "User Info Title"
  },
  "default": {
    "en": "SCORE! YOU GOT FREE SHIPPING"
  }
},
  {
    "type": "select",
    "id": "title_text_size",
    "label": {
      "en": "Title Text size"
    },
    "default": "medium",
    "options": [
      {
        "label": {
          "en": "Medium"
        },
        "value": "medium"
      },
      {
        "label": {
          "en": "Large"
        },
        "value": "large"
      }
    ]
  },
  {
    "type": "select",
    "id": "question_text_size",
    "label": {
      "en": "Step Question Text size"
    },
    "default": "medium",
    "options": [
      {
        "label": {
          "en": "Medium"
        },
        "value": "medium"
      },
      {
        "label": {
          "en": "Large"
        },
        "value": "large"
      }
    ]
  }
  ]
}
{% endschema %}