<style>
.step-one-tick {
  font-weight:bold;
  margin-right:5px;
}

.marginTop40 {
  margin-top:40px;
}

.marginTop20, .chkboxSpacing {
  margin-top:10px;
}

.textAlignCenter {
  text-align:center;
}
.desktop-info--icon{
  display: none;
}
.option-description-medium{
  text-align: center;
  display: block;
  margin: auto;
}
.step-one .marginLeft18{
  margin: auto !important;
  display: table;
}

@media only screen and (max-width: 769px) {
  .chkboxSpacing {
    margin-top:30px !important;
  }
  .hideMobile{
    display: none;
  }
  .desktop-info--icon{
    display: block;
   
  }
  .step-one  .marginLeft18{
    display: none;
  }
  .desktop-info--icon img{
    background: blue;
  }

  .desktop-info--icon .Icon--info-icon-v2{
    height: 1.5em;
    width: 1.5em;
  }
}
/* Checkmark style starts */
@-moz-keyframes dothabottomcheck {
	 0% {
		 height: 0;
	}
	 100% {
		 height: 25px;
	}
}
 @-webkit-keyframes dothabottomcheck {
	 0% {
		 height: 0;
	}
	 100% {
		 height: 25px;
	}
}
 @keyframes dothabottomcheck {
	 0% {
		 height: 0;
	}
	 100% {
		 height: 25px;
	}
}
 @keyframes dothatopcheck {
	 0% {
		 height: 0;
	}
	 50% {
		 height: 0;
	}
	 100% {
		 height: 60px;
	}
}
 @-webkit-keyframes dothatopcheck {
	 0% {
		 height: 0;
	}
	 50% {
		 height: 0;
	}
	 100% {
		 height: 60px;
	}
}
 @-moz-keyframes dothatopcheck {
	 0% {
		 height: 0;
	}
	 50% {
		 height: 0;
	}
	 100% {
		 height: 60px;
	}
}
 input[type=radio] {
	 display: none;
}
 .check-box {
	 height: 50px;
	 width: 50px;
	 background-color: transparent;
	 border: 3px solid #0097ce;
	 position: relative;
	 display: inline-block;
	 -moz-box-sizing: border-box;
	 -webkit-box-sizing: border-box;
	 box-sizing: border-box;
	 -moz-transition: border-color ease 0.2s;
	 -o-transition: border-color ease 0.2s;
	 -webkit-transition: border-color ease 0.2s;
	 transition: border-color ease 0.2s;
	 cursor: pointer;
}
 .check-box-1::before, .check-box-1::after {
	 -moz-box-sizing: border-box;
	 -webkit-box-sizing: border-box;
	 box-sizing: border-box;
	 position: absolute;
	 height: 0;
	 width: 12px;
	 background-color: {{section.settings.option-1-tick-color}};
	 display: inline-block;
	 -moz-transform-origin: left top;
	 -ms-transform-origin: left top;
	 -o-transform-origin: left top;
	 -webkit-transform-origin: left top;
	 transform-origin: left top;
	 border-radius: 5px;
	 content: ' ';
	 -webkit-transition: opacity ease 0.5;
	 -moz-transition: opacity ease 0.5;
	 transition: opacity ease 0.5;
}
.check-box-2::before, .check-box-2::after {
	 -moz-box-sizing: border-box;
	 -webkit-box-sizing: border-box;
	 box-sizing: border-box;
	 position: absolute;
	 height: 0;
	 width: 12px;
	 background-color:{{section.settings.option-2-tick-color}};
	 display: inline-block;
	 -moz-transform-origin: left top;
	 -ms-transform-origin: left top;
	 -o-transform-origin: left top;
	 -webkit-transform-origin: left top;
	 transform-origin: left top;
	 border-radius: 5px;
	 content: ' ';
	 -webkit-transition: opacity ease 0.5;
	 -moz-transition: opacity ease 0.5;
	 transition: opacity ease 0.5;
}
.check-box-3::before, .check-box-3::after {
	 -moz-box-sizing: border-box;
	 -webkit-box-sizing: border-box;
	 box-sizing: border-box;
	 position: absolute;
	 height: 0;
	 width: 12px;
	 background-color: {{section.settings.option-3-tick-color}};
	 display: inline-block;
	 -moz-transform-origin: left top;
	 -ms-transform-origin: left top;
	 -o-transform-origin: left top;
	 -webkit-transform-origin: left top;
	 transform-origin: left top;
	 border-radius: 5px;
	 content: ' ';
	 -webkit-transition: opacity ease 0.5;
	 -moz-transition: opacity ease 0.5;
	 transition: opacity ease 0.5;
}
 .check-box::before {
	 top: 36px;
	 left: 20.5px;
	 -moz-transform: rotate(-135deg);
	 -ms-transform: rotate(-135deg);
	 -o-transform: rotate(-135deg);
	 -webkit-transform: rotate(-135deg);
	 transform: rotate(-135deg);
}
 .check-box::after {
	 top: 18.5px;
	 left: 2.5px;
	 -moz-transform: rotate(-45deg);
	 -ms-transform: rotate(-45deg);
	 -o-transform: rotate(-45deg);
	 -webkit-transform: rotate(-45deg);
	 transform: rotate(-45deg);
}
 input[type=radio]:checked + .check-box, .check-box.checked {
	 border-color: #0097ce;
}
 input[type=radio]:checked + .check-box::after, .check-box.checked::after {
	 height: 25px;
	 -moz-animation: dothabottomcheck 0.2s ease 0s forwards;
	 -o-animation: dothabottomcheck 0.2s ease 0s forwards;
	 -webkit-animation: dothabottomcheck 0.2s ease 0s forwards;
	 animation: dothabottomcheck 0.2s ease 0s forwards;
}
 input[type=radio]:checked + .check-box::before, .check-box.checked::before {
	 height: 60px;
	 -moz-animation: dothatopcheck 0.4s ease 0s forwards;
	 -o-animation: dothatopcheck 0.4s ease 0s forwards;
	 -webkit-animation: dothatopcheck 0.4s ease 0s forwards;
	 animation: dothatopcheck 0.4s ease 0s forwards;
}
 
@media screen and (min-width:1024px) and (max-width:1366px) and (orientation:portrait) {
  #shopify-section-step-one {
    margin-top:18% !important;
  }
}
</style>

<div data-section-id="{{ section.id }}" id="{{ section.id }}" class="step-one" data-section-type="hero-section">
    <div class="row textAlignCenter">

        <div class="marginTop40 clearBoth">
            <div class="width30 chkboxSpacing" style="float:left;">
                <input name="step-one-hygeine" type="radio" id="cbtest1" value="1" />
                <label for="cbtest1" class="check-box check-box-1"></label>     
                <div class="clearBoth marginTop20 option-text-{{section.settings.option-text-size}}">
                    <label>{{section.settings.select-options-1}}</label> 
                </div>
                <div class="clearBoth marginTop20 option-description-{{section.settings.option-description-size}}">
                    <label>{{section.settings.select-options-1-description}}</label> 
                </div>
                <div id="info-1" class="info-icon clearBoth marginTop20 desktop-info--icon">
                    {% include 'icon' with 'info-icon-v2' %} 
                </div>
                <div id="info-1-description" class="info-icon-description marginLeft18 hideMobile" style="text-align:left">
                  <div class="clearBoth marginTop20 info-text-{{section.settings.option-information-text-size}}">
                      <span class="step-one-tick" style="color: {{section.settings.option-1-tick-color}}">&#10003;</span><label>{{section.settings.select-options-1-info-1}}</label> 
                  </div>
                  <div class="clearBoth marginTop20 info-text-{{section.settings.option-information-text-size}}"> 
                      <span class="step-one-tick" style="color: {{section.settings.option-1-tick-color}}">&#10003;</span><label>{{section.settings.select-options-1-info-2}}</label> 
                  </div> 
                  <div class="clearBoth marginTop20 info-text-{{section.settings.option-information-text-size}}"> 
                      <span class="step-one-tick" style="color: {{section.settings.option-1-tick-color}}">&#10003;</span><label>{{section.settings.select-options-1-info-3}}</label> 
                  </div>
                </div>
            </div>          
            <div class="width30 chkboxSpacing" style="float:left;">
                <input name="step-one-hygeine" type="radio" id="cbtest2" value="2" />
                <label for="cbtest2" class="check-box check-box-2"></label>
                <div class="clearBoth marginTop20 option-text-{{section.settings.option-text-size}}">
                    <label>{{section.settings.select-options-2}}</label> 
                </div>
                <div class="clearBoth marginTop20 option-description-{{section.settings.option-description-size}}">
                    <label>{{section.settings.select-options-2-description}}</label> 
                </div>
                <div id="info-2" class="info-icon clearBoth marginTop20 desktop-info--icon">
                    {% include 'icon' with 'info-icon-v2' %} 
                </div>
                
                <div id="info-2-description" class="info-icon-description marginLeft18 hideMobile" style="text-align:left">
                    <div class="clearBoth marginTop20 info-text-{{section.settings.option-information-text-size}}">
                        <span class="step-one-tick" style="color: {{section.settings.option-2-tick-color}}">&#10003;</span><label>{{section.settings.select-options-2-info-1}}</label> 
                    </div>
                    <div class="clearBoth marginTop20 info-text-{{section.settings.option-information-text-size}}"> 
                        <span class="step-one-tick" style="color: {{section.settings.option-2-tick-color}}">&#10003;</span><label>{{section.settings.select-options-2-info-2}}</label> 
                    </div> 
                    <div class="clearBoth marginTop20 info-text-{{section.settings.option-information-text-size}}"> 
                        <span class="step-one-tick" style="color: {{section.settings.option-2-tick-color}}">&#10003;</span><label>{{section.settings.select-options-2-info-3}}</label> 
                    </div>
                  </div>
            </div>
            <div class="width30 chkboxSpacing" style="float:left;"> 
                <input name="step-one-hygeine" type="radio" id="cbtest3" value="3" />
                <label for="cbtest3" class="check-box check-box-3"></label>
                <div class="clearBoth marginTop20 option-text-{{section.settings.option-text-size}}">
                    <label>{{section.settings.select-options-3}}</label>
                </div>
                <div class="clearBoth marginTop20 option-description-{{section.settings.option-description-size}}">
                    <label>{{section.settings.select-options-3-description}}</label> 
                </div>
                <div id="info-3" class="info-icon clearBoth marginTop20 desktop-info--icon">
                    {% include 'icon' with 'info-icon-v2' %} 
                </div>
                <div id="info-3-description" class="info-icon-description marginLeft18 hideMobile" style="text-align:left">
                    <div class="clearBoth marginTop20 info-text-{{section.settings.option-information-text-size}}">
                        <span class="step-one-tick" style="color: {{section.settings.option-3-tick-color}}">&#10003;</span><label>{{section.settings.select-options-3-info-1}}</label> 
                    </div>
                    <div class="clearBoth marginTop20 info-text-{{section.settings.option-information-text-size}}"> 
                        <span class="step-one-tick" style="color: {{section.settings.option-3-tick-color}}">&#10003;</span><label>{{section.settings.select-options-3-info-2}}</label> 
                    </div> 
                    <div class="clearBoth marginTop20 info-text-{{section.settings.option-information-text-size}}"> 
                        <span class="step-one-tick" style="color: {{section.settings.option-3-tick-color}}">&#10003;</span><label>{{section.settings.select-options-3-info-3}}</label> 
                    </div>
                  </div>
            </div>
            <div class="chkboxSpacing" style="width:100%;float:left;"> 
                <div class="Container ContainerMobile">
                    <div class="SectionHeader border-line marginAlign"> 
                    </div>
                </div>
                <div class="previous-bottom marginTop10" >
                    <span href="#" class="carousalBack carousalStepBack" id="go-previous-step-bottom">
                        <div class="arrow-left-bottom"></div>
                        <span style="color: {{section.settings.btn_get_started_color}};">PREVIOUS</span>
                    </span>
                </div> 
              <!-- 
                <div class="previous-bottom marginTop20" >
                    <span href="#" class="carousalBack carousalStepBack" id="go-previous-step-bottom">
                        <div class="arrow-left-bottom"></div>
                        <span style="color: {{section.settings.btn_get_started_color}};">PREVIOUS</span>
                    </span>
                </div> 
                <div class="next-bottom marginTop20">
                    <span href="#" style="font-size: 1.6em;font-weight: 700;cursor: pointer;
                    font-weight: 600;
                    padding: 15px;
                    color: #0992f4;
                    position: relative;
                    z-index: 100;
                    margin-left: 33%;
                    width: 150px;
                    float: right;
                ">
                        <span class="step-title-medium" style="color: {{section.settings.btn_get_started_color}};">STEP 1</span>
                    </span>            
                </div>    
                <div class="next-bottom marginTop20">
                    <span href="#" class="carousalBack carousalStepNext" id="go-next-step-bottom">
                        <div class="arrow-right-bottom"></div>
                        <span style="color: {{section.settings.btn_get_started_color}};">NEXT</span>
                    </span>            
                </div>    -->
            </div>
        </div>
    </div>
</div>

{% schema %}
{
    "name": {
      "en": "STEP 1 - Settings"
    },
    "class": "index-section index-section--flush",
    "settings":  [
    {
        "type": "color",
        "id": "option-1-tick-color",
        "label": {
          "en": "Option 1 Tick Color"
        },
        "default": "#0097ce"
    },
    {
      "type": "color",
      "id": "option-2-tick-color",
      "label": {
        "en": "Option 2 Tick Color"
      },
      "default": "#ff43b3"
    },
    {
      "type": "color",
      "id": "option-3-tick-color",
      "label": {
        "en": "Option 3 Tick Color"
      },
      "default": "#5AD43C"
    },
    {
      "type": "text",
      "id": "select-options-1",
      "label": {
        "en": "Option 1"
      },
      "default": {
        "en": "CLEAN QUEEN"
      }
    },
    {
      "type": "text",
      "id": "select-options-2",
      "label": {
        "en": "Option 2"
      },
      "default": {
        "en": "PRETTY CLEAN"
      }
    },
    {
      "type": "text",
      "id": "select-options-3",
      "label": {
        "en": "Option 3"
      },
      "default": {
        "en": "CLEAN ENOUGH"
      }
    },
    {
      "type": "text",
      "id": "select-options-1-description",
      "label": {
        "en": "Option 1 One-Liner"
      },
      "default": {
        "en": "Receive your kit every month."
      }
    },
    {
      "type": "text",
      "id": "select-options-2-description",
      "label": {
        "en": "Option 2 One-Liner"
      },
      "default": {
        "en": "Receive your kit every 2 months."
      }
    },
    {
      "type": "text",
      "id": "select-options-3-description",
      "label": {
        "en": "Option 3 One-Liner"
      },
      "default": {
        "en": "Receive your kit every 3 months."
      }
    },
    {
      "type": "text",
      "id": "select-options-1-info-1",
      "label": {
        "en": "Option 1 Info 1"
      },
      "default": {
        "en": "You could spend hours getting ready."
      }
    },
    {
      "type": "text",
      "id": "select-options-1-info-2",
      "label": {
        "en": "Option 1 Info 1"
      },
      "default": {
        "en": "You run out of products frequently."
      }
    },
    {
      "type": "text",
      "id": "select-options-1-info-3",
      "label": {
        "en": "Option 1 Info 1"
      },
      "default": {
        "en": "You take supplements daily."
      }
    },
    {
      "type": "text",
      "id": "select-options-2-info-1",
      "label": {
        "en": "Option 2 Info 1"
      },
      "default": {
        "en": "You spend about a half hour getting ready."
      }
    },
    {
      "type": "text",
      "id": "select-options-2-info-2",
      "label": {
        "en": "Option 2 Info 2"
      },
      "default": {
        "en": "You usually keep your bathroom stocked."
      }
    },
    {
      "type": "text",
      "id": "select-options-2-info-3",
      "label": {
        "en": "Option 2 Info 3"
      },
      "default": {
        "en": "You take supplements when you remember."
      }
    },
    {
      "type": "text",
      "id": "select-options-3-info-1",
      "label": {
        "en": "Option 3 Info 1"
      },
      "default": {
        "en": "You roll out of bed and out the door."
      }
    },
    {
      "type": "text",
      "id": "select-options-3-info-2",
      "label": {
        "en": "Option 2 Info 1"
      },
      "default": {
        "en": "You rarely try new products."
      }
    },
    {
      "type": "text",
      "id": "select-options-3-info-3",
      "label": {
        "en": "Option 2 Info 1"
      },
      "default": {
        "en": "You don’t take any supplements."
      }
    },
    {
      "type": "select",
      "id": "option-text-size",
      "label": {
        "en": "Options Text Size"
      },
      "default": "medium",
      "options": [
        {
          "label": {
            "en": "Medium"
          },
          "value": "medium"
        },
        {
          "label": {
            "en": "Large"
          },
          "value": "large"
        }
      ]
    },
    {
      "type": "select",
      "id": "option-description-size",
      "label": {
        "en": "Options Description Size"
      },
      "default": "medium",
      "options": [
        {
          "label": {
            "en": "Medium"
          },
          "value": "medium"
        },
        {
          "label": {
            "en": "Large"
          },
          "value": "large"
        }
      ]
    },
    {
      "type": "select",
      "id": "option-information-text-size",
      "label": {
        "en": "Option Information  Text size"
      },
      "default": "medium",
      "options": [
        {
          "label": {
            "en": "Medium"
          },
          "value": "medium"
        },
        {
          "label": {
            "en": "Large"
          },
          "value": "large"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": {
        "en": "V BASIC KIT"
      },
      "category": {
        "en": "Image"
      }
    }
  ]
}
{% endschema %}