<style>
.marginTop40 {
  margin-top:40px;
}
.marginTop20 {
  margin-top:10px;
}

.textAlignCenter {
  text-align:center;
}
</style>
<div data-section-id="{{ section.id }}" data-section-type="hero-section">
    <div class="row textAlignCenter">
        <div class="marginTop40 step-title-{{section.settings.title_text_size}}">
            <span class="step-title-{{section.settings.title_text_size}}" style="color: {{section.settings.title-color}};">{{section.settings.step-title}}</span>
        </div>

        <div class="marginTop40 question-title-{{section.settings.question_text_size}}">
            <span class="question-title-{{section.settings.title_text_size}}" style="color: {{section.settings.question-color}};">{{section.settings.question-title}}</span>
        </div>
        <div class="marginTop20">
            <a id="skipStep2" class="anchor-style-{{section.settings.question_text_size}}" href="#" >NO THANKS!</a>
        </div>
    </div>
</div>

{% schema %}
{
    "name": {
      "en": "STEP Two Settings"
    },
    "class": "index-section index-section--flush",
    "settings":  [
    {
      "type": "text",
      "id": "step-title",
      "label": {
        "en": "Step 2"
      },
      "default": {
        "en": "Step 2 Settings"
      }
    },
    {
        "type": "color",
        "id": "title-color",
        "label": {
          "en": "Step Title Color"
        },
        "default": "#0097ce"
    },
    {
      "type": "color",
      "id": "question-color",
      "label": {
        "en": "Step Question Color"
      },
      "default": "#0097ce"
  },
  {
      "type": "text",
      "id": "question-title",
      "label": {
        "en": "Step One"
      },
      "default": {
        "en": "Have your eye on anything else?"
      }
    },
    {
      "type": "select",
      "id": "title_text_size",
      "label": {
        "en": "Title Text size"
      },
      "default": "medium",
      "options": [
        {
          "label": {
            "en": "Medium"
          },
          "value": "medium"
        },
        {
          "label": {
            "en": "Large"
          },
          "value": "large"
        }
      ]
    },
    {
      "type": "select",
      "id": "question_text_size",
      "label": {
        "en": "Step Question Text size"
      },
      "default": "medium",
      "options": [
        {
          "label": {
            "en": "Medium"
          },
          "value": "medium"
        },
        {
          "label": {
            "en": "Large"
          },
          "value": "large"
        }
      ]
    }
  ]
}
{% endschema %}