<style>
.clearBoth {
    clear:both;
}

.width30 {
  width:33%;
}


.info-text-medium {
  font-size: 1em;
}

.info-text-large {
  font-size: 1.2em;
}

.option-text-medium  {
  font-size: 1.4em;
}

.option-text-large  {
  font-size: 1.2em;
}

.step-one-tick {
  font-weight:bold;
  margin-right:5px;
}

.marginTop40 {
  margin-top:40px;
}

.marginTop20 {
  margin-top:10px;
}

.textAlignCenter {
  text-align:center;
}
.desktop-info--icon{
  display: none;
}
.option-description-medium{
  font-size: 1.2em;
  width: 150px;
  text-align: center;
  display: block;
  margin: auto;
}


.option-description-large {
  font-size: 1.2em;
  width: 150px;
  margin-left: 30%;
  text-align: center;
  display: block;
  margin: auto;
}

.step-one .marginLeft18{
  margin: auto !important;
  display: table;
}


.step-title-medium {
  font-size:1.6em;
  font-weight: 700;
}

.step-title-large {
  font-size: 2em;
  font-weight: 800;
}

.question-title-medium {
  font-size: 1.3em;
}

.question-title-large {
  font-size: 1.8em;
}

@media screen and (min-width: 576px) { 
  .width30 {
    width:100%;
  }
}
@media screen and (max-width: 576px) {
  .width30 {
    width:100%;
  }
}
@media only screen and (max-width: 600px) {

  .hideMobile{
    display: none;
  }
  .desktop-info--icon{
    display: block;
   
  }
  .step-one  .marginLeft18{
    display: none;
  }
  .desktop-info--icon img{
    background: blue;
  }

  .desktop-info--icon .Icon--info-icon-v2{
    height: 1.5em;
    width: 1.5em;
  }
}
@media screen and (min-width: 768px) {    
    .width30 {
      width:33%;
    }
}
/* Checkmark style starts */
@-moz-keyframes dothabottomcheck {
	 0% {
		 height: 0;
	}
	 100% {
		 height: 25px;
	}
}
 @-webkit-keyframes dothabottomcheck {
	 0% {
		 height: 0;
	}
	 100% {
		 height: 25px;
	}
}
 @keyframes dothabottomcheck {
	 0% {
		 height: 0;
	}
	 100% {
		 height: 25px;
	}
}
 @keyframes dothatopcheck {
	 0% {
		 height: 0;
	}
	 50% {
		 height: 0;
	}
	 100% {
		 height: 60px;
	}
}
 @-webkit-keyframes dothatopcheck {
	 0% {
		 height: 0;
	}
	 50% {
		 height: 0;
	}
	 100% {
		 height: 60px;
	}
}
 @-moz-keyframes dothatopcheck {
	 0% {
		 height: 0;
	}
	 50% {
		 height: 0;
	}
	 100% {
		 height: 60px;
	}
}
 input[type=radio] {
	 display: none;
}
 .check-box {
	 height: 50px;
	 width: 50px;
	 background-color: transparent;
	 border: 3px solid #0097ce;
	 position: relative;
	 display: inline-block;
	 -moz-box-sizing: border-box;
	 -webkit-box-sizing: border-box;
	 box-sizing: border-box;
	 -moz-transition: border-color ease 0.2s;
	 -o-transition: border-color ease 0.2s;
	 -webkit-transition: border-color ease 0.2s;
	 transition: border-color ease 0.2s;
	 cursor: pointer;
}
 .check-box::before, .check-box::after {
	 -moz-box-sizing: border-box;
	 -webkit-box-sizing: border-box;
	 box-sizing: border-box;
	 position: absolute;
	 height: 0;
	 width: 12px;
	 background-color: #ff43b3;
	 display: inline-block;
	 -moz-transform-origin: left top;
	 -ms-transform-origin: left top;
	 -o-transform-origin: left top;
	 -webkit-transform-origin: left top;
	 transform-origin: left top;
	 border-radius: 5px;
	 content: ' ';
	 -webkit-transition: opacity ease 0.5;
	 -moz-transition: opacity ease 0.5;
	 transition: opacity ease 0.5;
}
 .check-box::before {
	 top: 36px;
	 left: 20.5px;
	 -moz-transform: rotate(-135deg);
	 -ms-transform: rotate(-135deg);
	 -o-transform: rotate(-135deg);
	 -webkit-transform: rotate(-135deg);
	 transform: rotate(-135deg);
}
 .check-box::after {
	 top: 18.5px;
	 left: 2.5px;
	 -moz-transform: rotate(-45deg);
	 -ms-transform: rotate(-45deg);
	 -o-transform: rotate(-45deg);
	 -webkit-transform: rotate(-45deg);
	 transform: rotate(-45deg);
}
 input[type=radio]:checked + .check-box, .check-box.checked {
	 border-color: #0097ce;
}
 input[type=radio]:checked + .check-box::after, .check-box.checked::after {
	 height: 25px;
	 -moz-animation: dothabottomcheck 0.2s ease 0s forwards;
	 -o-animation: dothabottomcheck 0.2s ease 0s forwards;
	 -webkit-animation: dothabottomcheck 0.2s ease 0s forwards;
	 animation: dothabottomcheck 0.2s ease 0s forwards;
}
 input[type=radio]:checked + .check-box::before, .check-box.checked::before {
	 height: 60px;
	 -moz-animation: dothatopcheck 0.4s ease 0s forwards;
	 -o-animation: dothatopcheck 0.4s ease 0s forwards;
	 -webkit-animation: dothatopcheck 0.4s ease 0s forwards;
	 animation: dothatopcheck 0.4s ease 0s forwards;
}
 
 
</style>

<div data-section-id="{{ section.id }}" id="{{ section.id }}" class="step-one" data-section-type="hero-section">
    <div class="row textAlignCenter">
        <div class="marginTop40 step-title-{{section.settings.title_text_size}}">
            <span class="step-title-{{section.settings.title_text_size}}" style="color: {{section.settings.title-color}};">{{section.settings.step-title}}</span>
        </div>

        <div class="marginTop40 question-title-{{section.settings.question_text_size}}">
            <span class="question-title-{{section.settings.title_text_size}}" style="color: {{section.settings.question-color}};">{{section.settings.question-title}}</span>
        </div>

        <div class="marginTop40 clearBoth">
            <div class="width30 marginTop40" style="float:left;">
                <input name="step-one-hygeine" type="radio" id="cbtest1" value="1" />
                <label for="cbtest1" class="check-box"></label>     
                <div class="clearBoth marginTop40 option-text-{{section.settings.option-text-size}}">
                    <label>{{section.settings.select-options-1}}</label> 
                </div>
                <div class="clearBoth marginTop20 option-description-{{section.settings.option-description-size}}">
                    <label>{{section.settings.select-options-1-description}}</label> 
                </div>
                <div class="clearBoth marginTop20 desktop-info--icon">
                    {% include 'icon' with 'info-icon-v2' %} 
                </div>
                <div class="marginLeft18 hideMobile" style="text-align:left">
                  <div class="clearBoth marginTop40 info-text-{{section.settings.option-information-text-size}}">
                      <span class="step-one-tick" style="color: {{section.settings.option-1-tick-color}}">&#10003;</span><label>{{section.settings.select-options-1-info-1}}</label> 
                  </div>
                  <div class="clearBoth marginTop20 info-text-{{section.settings.option-information-text-size}}"> 
                      <span class="step-one-tick" style="color: {{section.settings.option-1-tick-color}}">&#10003;</span><label>{{section.settings.select-options-1-info-2}}</label> 
                  </div> 
                  <div class="clearBoth marginTop20 info-text-{{section.settings.option-information-text-size}}"> 
                      <span class="step-one-tick" style="color: {{section.settings.option-1-tick-color}}">&#10003;</span><label>{{section.settings.select-options-1-info-3}}</label> 
                  </div>
                </div>
            </div>          
            <div class="width30 marginTop40" style="float:left;">
                <input name="step-one-hygeine" type="radio" id="cbtest2" value="2" />
                <label for="cbtest2" class="check-box"></label>
                <div class="clearBoth marginTop40 option-text-{{section.settings.option-text-size}}">
                    <label>{{section.settings.select-options-2}}</label> 
                </div>
                <div class="clearBoth marginTop20 option-description-{{section.settings.option-description-size}}">
                    <label>{{section.settings.select-options-2-description}}</label> 
                </div>
                <div class="clearBoth marginTop20 desktop-info--icon">
                    {% include 'icon' with 'info-icon-v2' %} 
                </div>
                
                <div class="marginLeft18 hideMobile" style="text-align:left">
                    <div class="clearBoth marginTop40 info-text-{{section.settings.option-information-text-size}}">
                        <span class="step-one-tick" style="color: {{section.settings.option-2-tick-color}}">&#10003;</span><label>{{section.settings.select-options-2-info-1}}</label> 
                    </div>
                    <div class="clearBoth marginTop20 info-text-{{section.settings.option-information-text-size}}"> 
                        <span class="step-one-tick" style="color: {{section.settings.option-2-tick-color}}">&#10003;</span><label>{{section.settings.select-options-2-info-2}}</label> 
                    </div> 
                    <div class="clearBoth marginTop20 info-text-{{section.settings.option-information-text-size}}"> 
                        <span class="step-one-tick" style="color: {{section.settings.option-2-tick-color}}">&#10003;</span><label>{{section.settings.select-options-2-info-3}}</label> 
                    </div>
                  </div>
            </div>
            <div class="width30 marginTop40" style="float:left;"> 
                <input name="step-one-hygeine" type="radio" id="cbtest3" value="3" />
                <label for="cbtest3" class="check-box"></label>
                <div class="clearBoth marginTop40 option-text-{{section.settings.option-text-size}}">
                    <label>{{section.settings.select-options-3}}</label>
                </div>
                <div class="clearBoth marginTop20 option-description-{{section.settings.option-description-size}}">
                    <label>{{section.settings.select-options-3-description}}</label> 
                </div>
                <div class="clearBoth marginTop20 desktop-info--icon">
                    {% include 'icon' with 'info-icon-v2' %} 
                </div>
                <div class="marginLeft18 hideMobile" style="text-align:left">
                    <div class="clearBoth marginTop40 info-text-{{section.settings.option-information-text-size}}">
                        <span class="step-one-tick" style="color: {{section.settings.option-3-tick-color}}">&#10003;</span><label>{{section.settings.select-options-3-info-1}}</label> 
                    </div>
                    <div class="clearBoth marginTop20 info-text-{{section.settings.option-information-text-size}}"> 
                        <span class="step-one-tick" style="color: {{section.settings.option-3-tick-color}}">&#10003;</span><label>{{section.settings.select-options-3-info-2}}</label> 
                    </div> 
                    <div class="clearBoth marginTop20 info-text-{{section.settings.option-information-text-size}}"> 
                        <span class="step-one-tick" style="color: {{section.settings.option-3-tick-color}}">&#10003;</span><label>{{section.settings.select-options-3-info-3}}</label> 
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>

{% schema %}
{
    "name": {
      "de": "Foto mit überlegtem Text",
      "en": "Step One Settings",
      "es": "Imagen con texto",
      "fr": "Image avec texte",
      "it": "Immagine con testo",
      "ja": "テキストオーバーレイ付き画像",
      "nl": "Foto met tekstoverlay",
      "pt-BR": "Imagem com texto",
      "zh-CN": "带文本叠加的图片",
      "zh-TW": "附文字疊加的圖片"
    },
    "class": "index-section index-section--flush",
    "settings":  [
    {
      "type": "text",
      "id": "step-title",
      "label": {
        "de": "Foto",
        "en": "STEP 1",
        "es": "Imagen",
        "fr": "Image",
        "it": "Immagine",
        "ja": "画像",
        "nl": "Afbeelding",
        "pt-BR": "Imagem",
        "zh-CN": "图片",
        "zh-TW": "圖片"
      },
      "default": {
        "de": "Foto mit überlegtem Text",
        "en": "Step One Settings",
        "es": "Imagen con texto",
        "fr": "Image avec superposition de texte",
        "it": "Immagine con testo",
        "ja": "テキストオーバーレイ付き画像",
        "nl": "Foto met tekstoverlay",
        "pt-BR": "Imagem com sobreposição de texto",
        "zh-CN": "带文本叠加的图片",
        "zh-TW": "附文字疊加的圖片"
      }
    },
    {
        "type": "color",
        "id": "title-color",
        "label": {
          "de": "Titel und Links",
          "en": "Step Title Color",
          "es": "Títulos y enlaces",
          "fr": "En-têtes et liens",
          "it": "Titoli e link",
          "ja": "見出しとリンク",
          "nl": "Koppen en links",
          "pt-BR": "Títulos e links",
          "zh-CN": "标题和链接",
          "zh-TW": "標題和連結"
        },
        "default": "#0097ce"
    },
    {
      "type": "color",
      "id": "option-1-tick-color",
      "label": {
        "de": "Titel und Links",
        "en": "Option 1 Tick Color",
        "es": "Títulos y enlaces",
        "fr": "En-têtes et liens",
        "it": "Titoli e link",
        "ja": "見出しとリンク",
        "nl": "Koppen en links",
        "pt-BR": "Títulos e links",
        "zh-CN": "标题和链接",
        "zh-TW": "標題和連結"
      },
      "default": "#0097ce"
  },
  {
    "type": "color",
    "id": "option-2-tick-color",
    "label": {
      "de": "Titel und Links",
      "en": "Option 2 Tick Color",
      "es": "Títulos y enlaces",
      "fr": "En-têtes et liens",
      "it": "Titoli e link",
      "ja": "見出しとリンク",
      "nl": "Koppen en links",
      "pt-BR": "Títulos e links",
      "zh-CN": "标题和链接",
      "zh-TW": "標題和連結"
    },
    "default": "#ff43b3"
},
{
  "type": "color",
  "id": "option-3-tick-color",
  "label": {
    "de": "Titel und Links",
    "en": "Option 3 Tick Color",
    "es": "Títulos y enlaces",
    "fr": "En-têtes et liens",
    "it": "Titoli e link",
    "ja": "見出しとリンク",
    "nl": "Koppen en links",
    "pt-BR": "Títulos e links",
    "zh-CN": "标题和链接",
    "zh-TW": "標題和連結"
  },
  "default": "#C0EFB4"
},
    {
        "type": "color",
        "id": "question-color",
        "label": {
          "de": "Titel und Links",
          "en": "Step Question Color",
          "es": "Títulos y enlaces",
          "fr": "En-têtes et liens",
          "it": "Titoli e link",
          "ja": "見出しとリンク",
          "nl": "Koppen en links",
          "pt-BR": "Títulos e links",
          "zh-CN": "标题和链接",
          "zh-TW": "標題和連結"
        },
        "default": "#0097ce"
    },
    {
        "type": "text",
        "id": "question-title",
        "label": {
          "de": "Foto",
          "en": "Step One",
          "es": "Imagen",
          "fr": "Image",
          "it": "Immagine",
          "ja": "画像",
          "nl": "Afbeelding",
          "pt-BR": "Imagem",
          "zh-CN": "图片",
          "zh-TW": "圖片"
        },
        "default": {
          "de": "Foto mit überlegtem Text",
          "en": "What is your typical hygiene routine?",
          "es": "Imagen con texto",
          "fr": "Image avec superposition de texte",
          "it": "Immagine con testo",
          "ja": "テキストオーバーレイ付き画像",
          "nl": "Foto met tekstoverlay",
          "pt-BR": "Imagem com sobreposição de texto",
          "zh-CN": "带文本叠加的图片",
          "zh-TW": "附文字疊加的圖片"
        }
      },
    {
        "type": "select",
        "id": "title_text_size",
        "label": {
          "de": "Textgröße",
          "en": "Title Text size",
          "es": "Tamaño del texto",
          "fr": "Taille du texte",
          "it": "Dimensione testo",
          "ja": "文字サイズ",
          "nl": "Tekengrootte",
          "pt-BR": "Tamanho do texto",
          "zh-CN": "文本大小",
          "zh-TW": "文字尺寸"
        },
        "default": "medium",
        "options": [
          {
            "label": {
              "de": "Mitte",
              "en": "Medium",
              "es": "Mediano",
              "fr": "Moyenne",
              "it": "Medium",
              "ja": "中",
              "nl": "Gemiddeld",
              "pt-BR": "Médio",
              "zh-CN": "中等",
              "zh-TW": "中等"
            },
            "value": "medium"
          },
          {
            "label": {
              "de": "Groß",
              "en": "Large",
              "es": "Grande",
              "fr": "Grande",
              "it": "Large",
              "ja": "大",
              "nl": "Groot",
              "pt-BR": "Grande",
              "zh-CN": "大",
              "zh-TW": "大型"
            },
            "value": "large"
          }
        ]
      },
      {
        "type": "select",
        "id": "question_text_size",
        "label": {
          "de": "Textgröße",
          "en": "Step Question Text size",
          "es": "Tamaño del texto",
          "fr": "Taille du texte",
          "it": "Dimensione testo",
          "ja": "文字サイズ",
          "nl": "Tekengrootte",
          "pt-BR": "Tamanho do texto",
          "zh-CN": "文本大小",
          "zh-TW": "文字尺寸"
        },
        "default": "medium",
        "options": [
          {
            "label": {
              "de": "Mitte",
              "en": "Medium",
              "es": "Mediano",
              "fr": "Moyenne",
              "it": "Medium",
              "ja": "中",
              "nl": "Gemiddeld",
              "pt-BR": "Médio",
              "zh-CN": "中等",
              "zh-TW": "中等"
            },
            "value": "medium"
          },
          {
            "label": {
              "de": "Groß",
              "en": "Large",
              "es": "Grande",
              "fr": "Grande",
              "it": "Large",
              "ja": "大",
              "nl": "Groot",
              "pt-BR": "Grande",
              "zh-CN": "大",
              "zh-TW": "大型"
            },
            "value": "large"
          }
        ]
      },
      {
        "type": "select",
        "id": "option-text-size",
        "label": {
          "de": "Textgröße",
          "en": "Options Text Size",
          "es": "Tamaño del texto",
          "fr": "Taille du texte",
          "it": "Dimensione testo",
          "ja": "文字サイズ",
          "nl": "Tekengrootte",
          "pt-BR": "Tamanho do texto",
          "zh-CN": "文本大小",
          "zh-TW": "文字尺寸"
        },
        "default": "medium",
        "options": [
          {
            "label": {
              "de": "Mitte",
              "en": "Medium",
              "es": "Mediano",
              "fr": "Moyenne",
              "it": "Medium",
              "ja": "中",
              "nl": "Gemiddeld",
              "pt-BR": "Médio",
              "zh-CN": "中等",
              "zh-TW": "中等"
            },
            "value": "medium"
          },
          {
            "label": {
              "de": "Groß",
              "en": "Large",
              "es": "Grande",
              "fr": "Grande",
              "it": "Large",
              "ja": "大",
              "nl": "Groot",
              "pt-BR": "Grande",
              "zh-CN": "大",
              "zh-TW": "大型"
            },
            "value": "large"
          }
        ]
      },
      {
        "type": "select",
        "id": "option-description-size",
        "label": {
          "de": "Textgröße",
          "en": "Options Description Size",
          "es": "Tamaño del texto",
          "fr": "Taille du texte",
          "it": "Dimensione testo",
          "ja": "文字サイズ",
          "nl": "Tekengrootte",
          "pt-BR": "Tamanho do texto",
          "zh-CN": "文本大小",
          "zh-TW": "文字尺寸"
        },
        "default": "medium",
        "options": [
          {
            "label": {
              "de": "Mitte",
              "en": "Medium",
              "es": "Mediano",
              "fr": "Moyenne",
              "it": "Medium",
              "ja": "中",
              "nl": "Gemiddeld",
              "pt-BR": "Médio",
              "zh-CN": "中等",
              "zh-TW": "中等"
            },
            "value": "medium"
          },
          {
            "label": {
              "de": "Groß",
              "en": "Large",
              "es": "Grande",
              "fr": "Grande",
              "it": "Large",
              "ja": "大",
              "nl": "Groot",
              "pt-BR": "Grande",
              "zh-CN": "大",
              "zh-TW": "大型"
            },
            "value": "large"
          }
        ]
      },
      {
        "type": "select",
        "id": "option-information-text-size",
        "label": {
          "de": "Textgröße",
          "en": "Option Information  Text size",
          "es": "Tamaño del texto",
          "fr": "Taille du texte",
          "it": "Dimensione testo",
          "ja": "文字サイズ",
          "nl": "Tekengrootte",
          "pt-BR": "Tamanho do texto",
          "zh-CN": "文本大小",
          "zh-TW": "文字尺寸"
        },
        "default": "medium",
        "options": [
          {
            "label": {
              "de": "Mitte",
              "en": "Medium",
              "es": "Mediano",
              "fr": "Moyenne",
              "it": "Medium",
              "ja": "中",
              "nl": "Gemiddeld",
              "pt-BR": "Médio",
              "zh-CN": "中等",
              "zh-TW": "中等"
            },
            "value": "medium"
          },
          {
            "label": {
              "de": "Groß",
              "en": "Large",
              "es": "Grande",
              "fr": "Grande",
              "it": "Large",
              "ja": "大",
              "nl": "Groot",
              "pt-BR": "Grande",
              "zh-CN": "大",
              "zh-TW": "大型"
            },
            "value": "large"
          }
        ]
      },
      {
        "type": "text",
        "id": "select-options-1",
        "label": {
          "de": "Foto",
          "en": "Option 1",
          "es": "Imagen",
          "fr": "Image",
          "it": "Immagine",
          "ja": "画像",
          "nl": "Afbeelding",
          "pt-BR": "Imagem",
          "zh-CN": "图片",
          "zh-TW": "圖片"
        },
        "default": {
          "de": "Foto mit überlegtem Text",
          "en": "CLEAN QUEEN",
          "es": "Imagen con texto",
          "fr": "Image avec superposition de texte",
          "it": "Immagine con testo",
          "ja": "テキストオーバーレイ付き画像",
          "nl": "Foto met tekstoverlay",
          "pt-BR": "Imagem com sobreposição de texto",
          "zh-CN": "带文本叠加的图片",
          "zh-TW": "附文字疊加的圖片"
        }
      },
      {
        "type": "text",
        "id": "select-options-1-description",
        "label": {
          "de": "Foto",
          "en": "Option 1 One-Liner",
          "es": "Imagen",
          "fr": "Image",
          "it": "Immagine",
          "ja": "画像",
          "nl": "Afbeelding",
          "pt-BR": "Imagem",
          "zh-CN": "图片",
          "zh-TW": "圖片"
        },
        "default": {
          "de": "Foto mit überlegtem Text",
          "en": "Receive your kit every month.",
          "es": "Imagen con texto",
          "fr": "Image avec superposition de texte",
          "it": "Immagine con testo",
          "ja": "テキストオーバーレイ付き画像",
          "nl": "Foto met tekstoverlay",
          "pt-BR": "Imagem com sobreposição de texto",
          "zh-CN": "带文本叠加的图片",
          "zh-TW": "附文字疊加的圖片"
        }
      },
      {
        "type": "text",
        "id": "select-options-1-info-1",
        "label": {
          "de": "Foto",
          "en": "Option 1 Info 1",
          "es": "Imagen",
          "fr": "Image",
          "it": "Immagine",
          "ja": "画像",
          "nl": "Afbeelding",
          "pt-BR": "Imagem",
          "zh-CN": "图片",
          "zh-TW": "圖片"
        },
        "default": {
          "de": "Foto mit überlegtem Text",
          "en": "You could spend hours getting ready.",
          "es": "Imagen con texto",
          "fr": "Image avec superposition de texte",
          "it": "Immagine con testo",
          "ja": "テキストオーバーレイ付き画像",
          "nl": "Foto met tekstoverlay",
          "pt-BR": "Imagem com sobreposição de texto",
          "zh-CN": "带文本叠加的图片",
          "zh-TW": "附文字疊加的圖片"
        }
      },
      {
        "type": "text",
        "id": "select-options-1-info-2",
        "label": {
          "de": "Foto",
          "en": "Option 1 Info 1",
          "es": "Imagen",
          "fr": "Image",
          "it": "Immagine",
          "ja": "画像",
          "nl": "Afbeelding",
          "pt-BR": "Imagem",
          "zh-CN": "图片",
          "zh-TW": "圖片"
        },
        "default": {
          "de": "Foto mit überlegtem Text",
          "en": "You run out of products frequently.",
          "es": "Imagen con texto",
          "fr": "Image avec superposition de texte",
          "it": "Immagine con testo",
          "ja": "テキストオーバーレイ付き画像",
          "nl": "Foto met tekstoverlay",
          "pt-BR": "Imagem com sobreposição de texto",
          "zh-CN": "带文本叠加的图片",
          "zh-TW": "附文字疊加的圖片"
        }
      },
      {
        "type": "text",
        "id": "select-options-1-info-3",
        "label": {
          "de": "Foto",
          "en": "Option 1 Info 1",
          "es": "Imagen",
          "fr": "Image",
          "it": "Immagine",
          "ja": "画像",
          "nl": "Afbeelding",
          "pt-BR": "Imagem",
          "zh-CN": "图片",
          "zh-TW": "圖片"
        },
        "default": {
          "de": "Foto mit überlegtem Text",
          "en": "You take supplements daily.",
          "es": "Imagen con texto",
          "fr": "Image avec superposition de texte",
          "it": "Immagine con testo",
          "ja": "テキストオーバーレイ付き画像",
          "nl": "Foto met tekstoverlay",
          "pt-BR": "Imagem com sobreposição de texto",
          "zh-CN": "带文本叠加的图片",
          "zh-TW": "附文字疊加的圖片"
        }
      },
      {
        "type": "text",
        "id": "select-options-2-info-1",
        "label": {
          "de": "Foto",
          "en": "Option 2 Info 1",
          "es": "Imagen",
          "fr": "Image",
          "it": "Immagine",
          "ja": "画像",
          "nl": "Afbeelding",
          "pt-BR": "Imagem",
          "zh-CN": "图片",
          "zh-TW": "圖片"
        },
        "default": {
          "de": "Foto mit überlegtem Text",
          "en": "You spend about a half hour getting ready.",
          "es": "Imagen con texto",
          "fr": "Image avec superposition de texte",
          "it": "Immagine con testo",
          "ja": "テキストオーバーレイ付き画像",
          "nl": "Foto met tekstoverlay",
          "pt-BR": "Imagem com sobreposição de texto",
          "zh-CN": "带文本叠加的图片",
          "zh-TW": "附文字疊加的圖片"
        }
      },
      {
        "type": "text",
        "id": "select-options-2-info-2",
        "label": {
          "de": "Foto",
          "en": "Option 2 Info 2",
          "es": "Imagen",
          "fr": "Image",
          "it": "Immagine",
          "ja": "画像",
          "nl": "Afbeelding",
          "pt-BR": "Imagem",
          "zh-CN": "图片",
          "zh-TW": "圖片"
        },
        "default": {
          "de": "Foto mit überlegtem Text",
          "en": "You usually keep your bathroom stocked.",
          "es": "Imagen con texto",
          "fr": "Image avec superposition de texte",
          "it": "Immagine con testo",
          "ja": "テキストオーバーレイ付き画像",
          "nl": "Foto met tekstoverlay",
          "pt-BR": "Imagem com sobreposição de texto",
          "zh-CN": "带文本叠加的图片",
          "zh-TW": "附文字疊加的圖片"
        }
      },
      {
        "type": "text",
        "id": "select-options-2-info-3",
        "label": {
          "de": "Foto",
          "en": "Option 2 Info 3",
          "es": "Imagen",
          "fr": "Image",
          "it": "Immagine",
          "ja": "画像",
          "nl": "Afbeelding",
          "pt-BR": "Imagem",
          "zh-CN": "图片",
          "zh-TW": "圖片"
        },
        "default": {
          "de": "Foto mit überlegtem Text",
          "en": "You take supplements when you remember.",
          "es": "Imagen con texto",
          "fr": "Image avec superposition de texte",
          "it": "Immagine con testo",
          "ja": "テキストオーバーレイ付き画像",
          "nl": "Foto met tekstoverlay",
          "pt-BR": "Imagem com sobreposição de texto",
          "zh-CN": "带文本叠加的图片",
          "zh-TW": "附文字疊加的圖片"
        }
      },
      {
        "type": "text",
        "id": "select-options-3-info-1",
        "label": {
          "de": "Foto",
          "en": "Option 3 Info 1",
          "es": "Imagen",
          "fr": "Image",
          "it": "Immagine",
          "ja": "画像",
          "nl": "Afbeelding",
          "pt-BR": "Imagem",
          "zh-CN": "图片",
          "zh-TW": "圖片"
        },
        "default": {
          "de": "Foto mit überlegtem Text",
          "en": "You roll out of bed and out the door.",
          "es": "Imagen con texto",
          "fr": "Image avec superposition de texte",
          "it": "Immagine con testo",
          "ja": "テキストオーバーレイ付き画像",
          "nl": "Foto met tekstoverlay",
          "pt-BR": "Imagem com sobreposição de texto",
          "zh-CN": "带文本叠加的图片",
          "zh-TW": "附文字疊加的圖片"
        }
      },
      {
        "type": "text",
        "id": "select-options-3-info-2",
        "label": {
          "de": "Foto",
          "en": "Option 2 Info 1",
          "es": "Imagen",
          "fr": "Image",
          "it": "Immagine",
          "ja": "画像",
          "nl": "Afbeelding",
          "pt-BR": "Imagem",
          "zh-CN": "图片",
          "zh-TW": "圖片"
        },
        "default": {
          "de": "Foto mit überlegtem Text",
          "en": "You rarely try new products.",
          "es": "Imagen con texto",
          "fr": "Image avec superposition de texte",
          "it": "Immagine con testo",
          "ja": "テキストオーバーレイ付き画像",
          "nl": "Foto met tekstoverlay",
          "pt-BR": "Imagem com sobreposição de texto",
          "zh-CN": "带文本叠加的图片",
          "zh-TW": "附文字疊加的圖片"
        }
      },
      {
        "type": "text",
        "id": "select-options-3-info-3",
        "label": {
          "de": "Foto",
          "en": "Option 2 Info 1",
          "es": "Imagen",
          "fr": "Image",
          "it": "Immagine",
          "ja": "画像",
          "nl": "Afbeelding",
          "pt-BR": "Imagem",
          "zh-CN": "图片",
          "zh-TW": "圖片"
        },
        "default": {
          "de": "Foto mit überlegtem Text",
          "en": "You don’t take any supplements.",
          "es": "Imagen con texto",
          "fr": "Image avec superposition de texte",
          "it": "Immagine con testo",
          "ja": "テキストオーバーレイ付き画像",
          "nl": "Foto met tekstoverlay",
          "pt-BR": "Imagem com sobreposição de texto",
          "zh-CN": "带文本叠加的图片",
          "zh-TW": "附文字疊加的圖片"
        }
      },
      {
        "type": "text",
        "id": "select-options-2",
        "label": {
          "de": "Foto",
          "en": "Option 2",
          "es": "Imagen",
          "fr": "Image",
          "it": "Immagine",
          "ja": "画像",
          "nl": "Afbeelding",
          "pt-BR": "Imagem",
          "zh-CN": "图片",
          "zh-TW": "圖片"
        },
        "default": {
          "de": "Foto mit überlegtem Text",
          "en": "PRETTY CLEAN",
          "es": "Imagen con texto",
          "fr": "Image avec superposition de texte",
          "it": "Immagine con testo",
          "ja": "テキストオーバーレイ付き画像",
          "nl": "Foto met tekstoverlay",
          "pt-BR": "Imagem com sobreposição de texto",
          "zh-CN": "带文本叠加的图片",
          "zh-TW": "附文字疊加的圖片"
        }
      },{
        "type": "text",
        "id": "select-options-2-description",
        "label": {
          "de": "Foto",
          "en": "Option 2 One-Liner",
          "es": "Imagen",
          "fr": "Image",
          "it": "Immagine",
          "ja": "画像",
          "nl": "Afbeelding",
          "pt-BR": "Imagem",
          "zh-CN": "图片",
          "zh-TW": "圖片"
        },
        "default": {
          "de": "Foto mit überlegtem Text",
          "en": "Receive your kit every 2 months.",
          "es": "Imagen con texto",
          "fr": "Image avec superposition de texte",
          "it": "Immagine con testo",
          "ja": "テキストオーバーレイ付き画像",
          "nl": "Foto met tekstoverlay",
          "pt-BR": "Imagem com sobreposição de texto",
          "zh-CN": "带文本叠加的图片",
          "zh-TW": "附文字疊加的圖片"
        }
      },
      {
        "type": "text",
        "id": "select-options-3-description",
        "label": {
          "de": "Foto",
          "en": "Option 3 One-Liner",
          "es": "Imagen",
          "fr": "Image",
          "it": "Immagine",
          "ja": "画像",
          "nl": "Afbeelding",
          "pt-BR": "Imagem",
          "zh-CN": "图片",
          "zh-TW": "圖片"
        },
        "default": {
          "de": "Foto mit überlegtem Text",
          "en": "Receive your kit every 3 months.",
          "es": "Imagen con texto",
          "fr": "Image avec superposition de texte",
          "it": "Immagine con testo",
          "ja": "テキストオーバーレイ付き画像",
          "nl": "Foto met tekstoverlay",
          "pt-BR": "Imagem com sobreposição de texto",
          "zh-CN": "带文本叠加的图片",
          "zh-TW": "附文字疊加的圖片"
        }
      },
      {
        "type": "text",
        "id": "select-options-3",
        "label": {
          "de": "Foto",
          "en": "Option 3",
          "es": "Imagen",
          "fr": "Image",
          "it": "Immagine",
          "ja": "画像",
          "nl": "Afbeelding",
          "pt-BR": "Imagem",
          "zh-CN": "图片",
          "zh-TW": "圖片"
        },
        "default": {
          "de": "Foto mit überlegtem Text",
          "en": "CLEAN ENOUGH",
          "es": "Imagen con texto",
          "fr": "Image avec superposition de texte",
          "it": "Immagine con testo",
          "ja": "テキストオーバーレイ付き画像",
          "nl": "Foto met tekstoverlay",
          "pt-BR": "Imagem com sobreposição de texto",
          "zh-CN": "带文本叠加的图片",
          "zh-TW": "附文字疊加的圖片"
        }
      }
  ],
  "presets": [
    {
      "name": {
        "de": "Foto mit überlegtem Text",
        "en": "V BASIC KIT",
        "es": "Imagen con texto",
        "fr": "Image avec superposition de texte",
        "it": "Immagine con testo",
        "ja": "テキストオーバーレイ付き画像",
        "nl": "Foto met tekstoverlay",
        "pt-BR": "Imagem com sobreposição de texto",
        "zh-CN": "带文本叠加的图片",
        "zh-TW": "附文字疊加的圖片"
      },
      "category": {
        "de": "Foto",
        "en": "Image",
        "es": "Imagen",
        "fr": "Image",
        "it": "Immagine",
        "ja": "画像",
        "nl": "Afbeelding",
        "pt-BR": "Imagem",
        "zh-CN": "图片",
        "zh-TW": "圖片"
      }
    }
  ]
}
{% endschema %}