
<div data-section-id="{{ section.id }}" data-section-type="section">
    <!-- {%- if section.settings.product_link != empty -%}
        <div id="product_link_url" data-link="{{section.settings.product_link}}" style="display:none"> </div>
    {%- endif -%} -->
    <!-- {%- assign colors = "green,red,blue" | split: ","  -%} -->
    <!-- <div class="data-colors" data-colors-settings="{{ colors  | json | escape }}" style="display:none"> </div> -->
    <!-- <div data-active-subscriptionBy="{{ section.settings.activeSubscriptionBy }}" style="display:none"> </div>
    <div data-active-SubscriptionFrequency="{{ section.settings.activeSubscriptionFrequency }}" style="display:none"> </div>
    <div data-active-activeSubscriptionId="{{ section.settings.activeSubscriptionId }}" style="display:none"> </div> -->
    <script> 
    
    window.subscriptionSettings = { "id" : '{{ section.settings.activeSubscriptionId }}',
       "frequency" : '{{section.settings.activeSubscriptionFrequency}}',
       'kitProduct' : '{{section.settings.product_link}}',
       'glogalDatatags' : ['green','red','blue']
    } 
    </script>
</div>
<style>

.red{
  border:4px solid {{section.settings.red}};
}
.green {
  border:4px solid {{section.settings.green}};
}
.blue {
  border:4px solid {{section.settings.blue}};
}
</style>    

{% schema %}
{
    "name": {
    "en": "Subscription Settings"
    },
    "class": "index-section index-section--flush",
    "settings":  [
       {
        "type": "url",
        "id": "product_link",
        "label": {
          "en": "KIT PRODUCT URL"
          }
        },
        {
          "type": "text",
          "id": "activeSubscriptionId",
          "label": {
            "en": "Active Subscription Id"
            },
            "default":   "202238"
        },
        {
          "type":      "select",
          "id":        "activeSubscriptionFrequency",
          "label":     "Subscription Frequency",
          "options": [
            {
              "value": "Months",
              "label": "Months"
            }
          ],
          "default":   "Months"
       },
        {
          "type": "color",
          "id": "red",
          "label": {
            "en": "Red"
          },
          "default": "#ff2dac"
        }
        ,
        {
          "type": "color",
          "id": "green",
          "label": {
            "en": "green"
          },
          "default": "#54d12b"
        }
        ,
        {
          "type": "color",
          "id": "blue",
          "label": {
            "en": "blue"
          },
          "default": "#0091c8"
        }
    ]
}
{% endschema %}