
<div data-section-id="{{ section.id }}" data-section-type="section">
    {%- if section.settings.product_link != empty -%}
        <div id="product_link_url" data-link="{{section.settings.product_link}}" style="display:none"> </div>
    {%- endif -%}
    {%- assign colors = "green,red,blue" | split: ","  -%}
    <div class="data-colors" data-colors-settings="{{ colors  | json | escape }}" style="display:none"> </div>
    
    <div data-active-subscriptionBy="{{ section.settings.activeSubscriptionBy }}" style="display:none"> </div>
    <div data-active-SubscriptionFrequency="{{ section.settings.activeSubscriptionFrequency }}" style="display:none"> </div>

</div>
<style>

.red{
  border:4px solid {{section.settings.red}};
}
.green {
  border:4px solid {{section.settings.green}};
}
.blue {
  border:4px solid {{section.settings.blue}};
}
</style>    

{% schema %}
{
    "name": {
    "en": "Subscription Settings"
    },
    "class": "index-section index-section--flush",
    "settings":  [
       {
        "type": "url",
        "id": "product_link",
        "label": {
          "en": "KIT PRODUCT URL"
          }
        },
        {
          "type": "text",
          "id": "activeSubscription",
          "label": {
            "en": "Active Subscription Id"
            }
        },
        {
          "type":      "select",
          "id":        "activeSubscriptionBy",
          "label":     "Active Subscription By",
          "options": [
            {
              "value": "Months",
              "label": "Months"
            },
            {
              "value": "Weekly",
              "label": "Weekly"
            }
          ],
          "default":   "Months"
       },
        {
          "type":      "select",
          "id":        "activeSubscriptionFrequency",
          "label":     "Active Subscription Frequency",
          "options": [
            {
              "value": "1",
              "label": "1"
            },
            {
              "value": "2",
              "label": "2"
            },
            {
              "value": "3",
              "label": "3"
            },
            {
              "value": "4",
              "label": "4"
            },
            {
              "value": "5",
              "label": "5"
            },
            {
              "value": "6",
              "label": "6"
            },
            {
              "value": "7",
              "label": "7"
            }
            ,
            {
              "value": "8",
              "label": "8"
            }
            ,
            {
              "value": "9",
              "label": "9"
            }
            ,
            {
              "value": "10",
              "label": "10"
            }
          ]
       },
        {
          "type": "color",
          "id": "red",
          "label": {
            "en": "Red"
          },
          "default": "#ff2dac"
        }
        ,
        {
          "type": "color",
          "id": "green",
          "label": {
            "en": "green"
          },
          "default": "#54d12b"
        }
        ,
        {
          "type": "color",
          "id": "blue",
          "label": {
            "en": "blue"
          },
          "default": "#0091c8"
        }
    ]
}
{% endschema %}