<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<script src="{{ 'get-started.js' | asset_url }}" defer></script>
<script src="{{ 'get-started-events.js' | asset_url }}" defer></script>

<style>
  #shopify-section-step-one,
  #shopify-section-step-two,
  #shopify-section-step-three {
    height:100%;
  }
  #shopify-section-back-carousal-step-one,
  #shopify-section-back-carousal-step-two,
  #shopify-section-back-carousal-step-three {
    height: 150px;
    background-color: white;
    position: fixed;
  }

  #shopify-section-step-two, #shopify-section-step-three {
      margin-top: 15%;
  }
/* PAGE PRE LOADER CSS BEGINS */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
/*.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url("{{ 'Preloader_2.gif' | asset_url }}") center no-repeat #fff;
}*/

.se-pre-con {
  position: fixed;
	left: 45%;
	top: 40%;
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #3498db;
  width: 120px;
  height: 120px;
  margin: auto;
  z-index: 9999;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  overflow: hidden;
}

/* PAGE PRE LOADER CSS ENDS */
  #shopify-section-back-carousal-step-one, 
  #shopify-section-back-carousal-step-two,
  #shopify-section-back-carousal-step-three {
    height:150px;
    background-color:white;
    position:fixed;
    z-index: 9;
  }

  .CartItem__Image {
    max-height: 170px !important;
  }

  @media screen and (max-width: 359px) {
    .CartItem__Image {
      max-height: 125px !important;
    }
  }

  @media screen and (min-width: 360px) {
    .CartItem__Image {
      max-height: 150px !important;
    }
  }

  @media screen and (min-width: 400px) {
    .CartItem__Image {
      max-height: 170px !important;
    }
  }

  .ProductItem__PriceList {
    opacity: 1 !important;
  }

  .js .ProductList--grid .ProductItem {
    visibility: visible !important;
  }

  .custom-button-container {
    margin-top: 50px;
  }

  .marginTop30 {
    margin-top: 30px;
  }

  /* CAROUSAL flickity.css */

  .carousel-cell {
    width: 100%;
    margin-right: 10px;
    border-radius: 5px;
  }

  .get-started-carousel .grid-cell-padding {
    padding-left: 0;
  }
  .toast-success{
    background: #0097ce;
    display: block; 
  }
  .cart-toaster-container{
    background: #0097ce;
    vertical-align: middle;
    color: white;
    display: none;
    text-transform: uppercase
  }
  .cart-toaster-sub-con{
      /* width: 60%; */
      padding:20px 0; 
      display: table-cell;
      text-align: center;
  }
  .cart-toaster-img-con{
    display: inline-block;
    /* width: 20%; */
    display: table-cell;
    vertical-align: middle;
    padding: 0 10px;
    
  }
  .cart-toaster-img-con-img{
    display: inline;
    height: 50px;
    width: 50px;
  }
  .step-check{
    font-size:35px;
    font-weight: bold;
  }

  .product-name-change{
    font-weight: normal;
  }
  .toast-title{
    display: inline-block;
 }
.message-change{
  font-weight: 700;
  text-align: center; 
}
.check-container{
  display: table-cell;
  vertical-align: middle;
  padding: 0 10px;
}

#toast-container>div{
  width: auto;
}

a:hover,button:hover,#go-previous-step span:hover,#go-next-step span:hover{
  color:lightblue !important; 
}

@media screen and (min-width: 769px) {
  #shopify-section-step-one, #shopify-section-step-two, #shopify-section-step-three {
    margin-top:13%;
  }
}
@media screen and (max-width: 768px) {
  #shopify-section-back-carousal-step-one, 
  #shopify-section-back-carousal-step-two,
  #shopify-section-back-carousal-step-three {
    /* min-height:100%; */
    min-height: 0;
    background-color:white;
    position:relative;
    z-index: 3;
  }

  div.sticky {
    width:100%;
    position:absolute !important;
      /*    z-index: 0 !important; */
  }
  .se-pre-con {
    left:33% !important;
  }
  
  .carousalContent {        
      height:125px !important;
  }

  #shopify-section-back-carousal-step-one, 
  #shopify-section-back-carousal-step-two,
  #shopify-section-back-carousal-step-three {
    height:125px;
  }

  .marginTop50 {
    margin-top:30px !important;
  }

  .previous, .next, #checkout-custom-button {
    font-size:1em !important;
  }

  .previous span, .checkoutStyles {
    width :120px !important;
  }

  .next span {
    width :100px !important;
  }
  
  #shopify-section-subscription-product-kit .SectionHeader
  {
      margin-bottom: 14px !important;
  }

  /* .carousalContent {
    min-height:100% !important;
  } */
}

@media screen and (min-width:320px) and (max-width:767px) and (orientation:landscape) {
  #shopify-section-back-carousal-step-one, 
  #shopify-section-back-carousal-step-two,
  #shopify-section-back-carousal-step-three {
    /* min-height:100%; */
    min-height: 0;
    background-color:white;
    position:relative;
    z-index: 3;
  }

  div.sticky {
    width:100%;
      position:absolute !important;
     /*  z-index: 0 !important; */
  }
}

@media screen and (min-width:768px) and (max-width:1024px) and (orientation:landscape){
  #shopify-section-back-carousal-step-one, 
  #shopify-section-back-carousal-step-two,
  #shopify-section-back-carousal-step-three {
    /* min-height:100%; */
    min-height: 0;
    background-color:white;
    position:relative;
    z-index: 3;
  }
  div.sticky {
    width:100%;
    position:absolute !important;
  }
}

.Carousel{
  outline: none;
}

/* .subscription-page-only{
    margin-bottom: env(safe-area-inset-bottom)
} */

@media only screen and (-webkit-min-device-pixel-ratio: 1) {
 ::i-block-chrome, 
  .subscription-page-only{
        margin-bottom: 25px;
  }
}

@media all and (-ms-high-contrast:none)
     {
      _:-ms-fullscreen, :root .question-title-medium,_:-ms-fullscreen, :root .question-title-large  { background: white;z-index: 100; } 

      _:-ms-fullscreen, :root 
          .ie-size  {
              height: 200px;
              width: 200px;
          }

          _:-ms-fullscreen, :root .custom-button-container {
              margin-bottom: 20px;
            }
   } 

   .Cart--expanded .Cart__Footer{
      border-top: 1px solid #0097ce;
   }

   #shopify-section-cart-subscription-template .PageContent{
     display: flex;
   }

   .getting-start-bottom-btn{
      clear: both;
      margin-top: 60px;
      text-align: center;
      margin-bottom: 33px;
   }

   .page-width{
     margin-bottom: 80px;
   }
   #go-previous-step-bottom {
    cursor: pointer;
    font-weight: 600;
    padding: 15px;
    color: #0992f4;
    position: relative;
    z-index: 100;   
    margin-left: 33%;
    width: 150px;
    float: right;
  }

  #go-next-step-bottom {
    cursor: pointer;
    font-weight: 600;
    padding: 15px;
    color: #0992f4;
    position: relative;
    z-index: 100;    
    margin-right: 33%;
    float:right;
    text-decoration: underline;
    width: 120px;
  }
  .previous-bottom, .next-bottom {
    display: inline;
    z-index: 10;
    font-size: 1.2em;
    line-height: 100%;
    float: left;
    width: 30%;
  }
  .arrow-left-bottom {
    width: 0; 
    height: 0; 
    float:left;
    margin:auto;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;         
    border-right:15px solid  {{ section.settings.btn_get_started_bg_color }};
    margin-left: 20%;
  }

  .arrow-right-bottom {
    width: 0; 
    height: 0;
    float:right; 
    margin:auto;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;  
    border-left: 15px solid {{ section.settings.btn_get_started_bg_color }};
    margin-right: 20%;
  }
  .marginAlign {
    margin-top:5% !important;
    margin-bottom:0px !important;
  }

  .marginTop10 {
    margin-top:10px;
  }
</style>
<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <!-- Flickity HTML init -->
      {% section 'subscription-settings' %}
      {% section 'back-carousal-step-one' %}
      {% section 'back-carousal-step-two' %}
      {% section 'back-carousal-step-three' %}
      <div class="carousel get-started-carousel">
        <div class="grid-cell-padding Grid__Cell 1/1--phone 1/1--tablet 1/1--lap-and-up">
          {% section 'image-overlay' %}
          {% section 'product-kit-collection' %}
          <div class="getting-start-bottom-btn">
              <a href="" id="btn_email_to_shopifyregister_and_newsletter" class="btn hero__btn btn_email_to_shopifyregister_and_newsletter">
                  LET'S GET STARTED
                </a>
          </div>  
        </div>
        <div class="grid-cell-padding Grid__Cell 1/1--phone 1/1--tablet 1/1--lap-and-up">
          {% section 'step-one' %}
        </div>
        <div class="grid-cell-padding Grid__Cell 1/1--phone 1/1--tablet 1/1--lap-and-up">
          {% section 'step-two' %}
          {% section 'subscription-product-kit' %}
          <div class="custom-button-container">
            {% section 'custom-button' %}
          </div>
          {% section 'product-subscription-collection-template' %}
        </div>
        <div class="grid-cell-padding Grid__Cell 1/1--phone 1/1--tablet 1/1--lap-and-up">
          {% section 'step-three' %}
          <div class="marginTop30">
            {% section 'checkout-button' %}
          </div>
          <div id="cartSection" class="cartAjaxSection">
          </div>
          {% section 'checkout-button' %}
        </div>

      </div>

    </div>
  </div>
  {%section 'modal' %}
  <div class="cart-toaster-container" id="cart-toaster-container">
      
      <div class="cart-toaster-sub-con">
        <div class="message-change">
       </div>
          <div class="product-name-change"> </div>
      </div>
      <div class="cart-toaster-img-con"> 
        <img  class="cart-toaster-img-con-img product-img-change" /> 
      </div>
    </div>
</div>
<script>

  $(function() {

       if(subscriptionSettings.kitProduct){
        $.getJSON(subscriptionSettings.kitProduct,function(product_data){
            window.selected_product_kit = product_data;  
        });
      }else {
        toastr.error("Please configure the product link in page template.", "Error");
      }
    $(document.body).on('click', '.checkout-custom-button', function (eventTarget) {

       if($(".subscription-cart [data-handle='"+selected_product_kit.product.handle+"']").length === 0){
          toastr.error("At least one kit should be present in cart.", "Error");
          Cookie.deleteCookie();
          setTimeout(function(){window.location.reload()},0);
          return;
       }
        DomToggle.showLoading();
        //Cookie.deleteCookie();
        window.location.href =  reChargeBuildCheckoutURL();
     });

     function reChargeGetCookie(name) {
					return (document.cookie.match('(^|; )' + name + '=([^;]*)')||0)[2];
     }
        
     function reChargeBuildCheckoutURL() {
					// Build the Checkout URL
					var myshopify_domain = '{{ shop.permanent_domain }}';
					var token = reChargeGetCookie('cart');
					try {
						// Cross-domain tracking with Google Analytics
						var ga_linker = ga.getAll()[0].get('linkerParam');
					} catch (e) {
						// 'ga' is not available
						var ga_linker = '';
					}
					// Customer email address for use in the Checkout URL
					var customer_param = '{% if customer %}customer_id={{ customer.id }}&customer_email={{ customer.email }}{% endif %}';
					var checkout_url = 'https://shopifysubscriptions.com/r/checkout?myshopify_domain=' + myshopify_domain + '&cart_token=' + token + '&' + ga_linker + '&' + customer_param
					return checkout_url;
      }        

      // $.fn.noop = function () { return this; };
      // toastr.options.hideMethod = 'noop';

  });
</script>

